{% load i18n static custom_tags %}
{% block content %}
<div class="pagina_avatar">
    <div id="loading" class="container_btn_avatar">
        <p>Carregando Avatar</p>
    </div>
    <div id="avatar-views">
        <avatar-container></avatar-container>
        <div id="move_container">
            <div id="move_left" style="display: none">
                <img src="{% static 'assets/arrow.png' %}" class="move_img">
            </div>
            
            <div id="move_right">
                <img src="{% static 'assets/arrow.png' %}" class="move_img">
            </div>  
        </div>
        <div id="skip">
            <img src="{% static 'assets/skip.png' %}">
        </div>  
    </div> 

    <div id="botoes">
        <div class="container_btn_avatar" id="hide">
            <img src="{% static 'assets/hide_icon.png' %}" alt="Esconder Avatar" class="imagem-centralizada" id="imgLeft">
            <span class="texto-oculto" id="texto-esconder">Esconder Avatar</span>
        </div>
        <div class="container_btn_avatar" id="show">
            <img src="{% static 'assets/show_icon.png' %}" alt="Mostrar Avatar" class="imagem-centralizada" id="imgRight">
            <span class="texto-oculto" id="texto-mostrar">Mostrar Avatar</span>
        </div>
    </div>
</div>
{% endblock content %}