{% load i18n static custom_tags %}
<html>
{% block header %}
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'css/avatar_style.css' %}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
{% endblock header %}
{% block content %}
    <body>
    <div id="unity-container" class="unity-desktop">
        <canvas id="unity-canvas"></canvas>
    </div>
    <script>
        var avatar_loader_url = '{% static "Build/avatar-assistent.loader.js" %}';
        var avatar_data_url = '{% static "Build/avatar-assistent.data" %}';
        var avatar_framework_url = '{% static "Build/avatar-assistent.framework.js" %}';
        var avatar_code_url = '{% static "Build/avatar-assistent.wasm" %}';
    </script>
    <script src="{% static 'js/avatar_interaction.js' %}"></script>
    </body>
{% endblock content %}
</html>
