{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrahead %}{{ block.super }}
<style>
    .upload-log { display: none; }
    .upload-validating { background-color: #fff3cd !important; }
    .upload-error { background-color: #f8d7da !important; }
    .upload-success { background-color: #d4edda !important; }

    #functions-group.inline-group .tabular tr.has_original td[class^="field-"],
    #agencies-group.inline-group .tabular tr.has_original td[class^="field-"] { padding: 0 0 0 8px; }
</style>

<script type="text/javascript">
    $(function () {
        // Log modal
        $(".log-link").click(function(ev){
            ev.preventDefault();
            var upload_id = $(this).data('upload_id');
            var $dialog = $('#upload-dialog-' + upload_id);
            var title = $(this).html();
            $dialog.dialog({
                minWidth: 600,
                title: title
            });
        });

        // Uploads background colors
        $('.status-input').each(function(){
            var val = $(this).val();
            var $tr = $(this).closest('.form-row');
            switch(val){
                case 'validating':
                case 'importing':
                    $tr.addClass('upload-validating');
                    break
                case 'validation_error':
                case 'import_error':
                    $tr.addClass('upload-error');
                    break
                case 'success':
                    $tr.addClass('upload-success');
                    break
            }

        });

        // Remove __str__ for each row on Function and Agencies inlines.
        $('#functions-group, #agencies-group').find('.form-row .original p').remove();
    });
</script>
{% endblock %}

{% block field_sets %}
{{ block.super }}
{% endblock %}
