{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}{{ block.super }}
<style>
    .upload-log { display: none; line-height: 20px; }
    .upload-validating { background-color: #fff3cd !important; }
    .upload-error { background-color: #f8d7da !important; }
    .upload-success { background-color: #d4edda !important; }
    .initial-value { color: #a5a5a5; display: none; }
    .inferred-value { color: #baa63d; }
    .inferred-different-from-current { color: #ff5654; }

    .inline-group .ui-icon { cursor: help; }
    #functions-group.inline-group .tabular tr.has_original td[class^="field-"],
    #agencies-group.inline-group .tabular tr.has_original td[class^="field-"] { padding: 0 0 0 8px; }
    #functions-group.inline-group .tabular tr.has_original td.delete,
    #agencies-group.inline-group .tabular tr.has_original td.delete { padding: 4px 0 0 8px; }

    .field-get_budget_investment, .field-get_budget_operation, .field-get_budget_aggregated,
    .field-get_execution_investment, .field-get_execution_operation, .field-get_execution_aggregated,
    .column-get_budget_investment, .column-get_budget_operation, .column-get_budget_aggregated,
    .column-get_execution_investment, .column-get_execution_operation, .column-get_execution_aggregated {
        text-align: right;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // Log modal
        $(".log-link").click(function(ev){
            ev.preventDefault();
            var upload_id = $(this).data('upload_id');
            var $dialog = $('#upload-dialog-' + upload_id);
            var title = $(this).html();
            $dialog.dialog({
                minWidth: 1000,
                title: title
            });
        });

        // Uploads background colors
        $('.status-input').each(function(){
            var val = $(this).val();
            var $tr = $(this).closest('.form-row');
            switch(val){
                case 'validating':
                case 'importing':
                    $tr.addClass('upload-validating');
                    break
                case 'validation_error':
                case 'import_error':
                    $tr.addClass('upload-error');
                    break
                case 'success':
                    $tr.addClass('upload-success');
                    break
            }

        });

        // Remove __str__ for each row on Function and Agencies inlines.
        $('#functions-group, #agencies-group').find('.form-row .original p').remove();

        var categories_group = ['#functions-group', '#agencies-group'];
        categories_group.forEach(function(item, index, arr){
            if($(item).find('.initial-value').length){
                var $h2 = $(item).find('h2');
                $h2.append('<span class="inline-actions"></span>');
                $h2.find('.inline-actions').append('<a href="#" class="toggle-initial-budgets">{% trans "Show initial budgets" %}</a>')
                $h2.find('.inline-actions').append('<a href="#" class="toggle-initial-budgets hide">{% trans "Hide initial budgets" %}</a>')
            }
        });

        $('body').on('click', '.toggle-initial-budgets, .trigger-initial-value', function(ev){
            ev.preventDefault();
            $('.inline-group').find('.trigger-initial-value').toggle();
            $('.inline-group').find('.initial-value').toggle();
            $('.inline-group').find('.toggle-initial-budgets').toggle();
        });

        $('#uploads-group h2').after($('.inline-description.groups'))

        {% if add %}
            $('#functions-group, #agencies-group').hide();
            $('.field-currency').remove();
        {% endif %}

        {% if request.GET.page %}
            setTimeout(function () {
                // Open collapsed budget account inlines if pagination.
                $('.collapse-toggle')[0].click();
                $('.collapse-toggle')[1].click();
            }, 10);
        {% endif %}
    });
</script>
{% endblock %}

{% block field_sets %}
{{ block.super }}

    <div class="inline-description groups">
        <span class="ui-icon ui-icon-info"></span>
        {% static 'sample-budget-upload.csv' as sample_upload_url %}
        {% blocktrans %}
        Download the <a href="{{ sample_upload_url }}">sample CSV report</a>, modify according to your country's
        budget information and upload back here in this section.
        {% endblocktrans %}
    </div>
{% endblock %}
