{% extends 'frontend/base.html' %}
{%load static %}

{% block extrahead %}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="{% static 'students/moz_pablo.js' %}"></script>
{% endblock %}

{% block extrastyle %}
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>
{% endblock %}

{% block content %}
    <h2>Exercícios da turma de Moçambique</h2>

    <div>
        <div>Country: {{ form.country }}</div>
    </div>

    <div id="chartdiv"></div>
{% endblock %}