{% extends "baton:admin/base_site.html" %}
{% load static i18n baton_tags custom_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-admin.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    {% if user.profile.country %}
        <img class="header-flag" src="{{ user.profile.country.flag.url }}" /> {{ user.profile.country.name }}
    {% endif %}
</h1>

{% if request.session.upload_in_progress %}
    <script src="{% static 'js/beep.js' %}"></script>
    <div class="upload-in-progress">
        <img src="{% static 'img/loading.gif' %}" />
        Importando relatório...
    </div>
    <div class="upload-result"></div>
    <script type="text/javascript">
        $('.upload-in-progress').animate({ "left": "-=300px" }, "slow" );
        var status = 'validating';
        var url = '{% url 'api_admin-check-in-progress-upload' request.session.upload_in_progress %}';
        var check_in_progress = setInterval(function () {
            $.get(url, function( data ) {
                if(!Object.keys(data).length){
                    return;
                }
                if(data['status'] != 'validating' && data['status'] != 'importing'){
                    var link = '{% url "admin:budget_budget_changelist" %}' + data['budget_id'];
                    var link_text = "See results";
                    // Upload finished
                    if(data['status'] == 'success'){
                        var msg = "The <strong>" + data['get_report_display'] + "</strong> report has been imported with success.";
                    } else {
                        var msg = "The <strong>" + data['get_report_display'] + "</strong> report has validation errors.";
                        var link_text = "Check and fix errors";
                    }
                    beep();
                    $('.upload-in-progress').hide();
                    $('.upload-result').html(msg);
                    $('.upload-result').dialog({
                        title: "Upload finished",
                        buttons: [{
                            text: link_text,
                            icon: "ui-icon-document",
                            click: function() {
                                window.location.href = link;
                            }
                        }]
                    })
                    clearInterval(check_in_progress);
                }
            }).fail(function() {
                clearInterval(check_in_progress);
            });
        }, 10000)
    </script>
{% endif %}
{% endblock %}

{% block footer %}
{# Overrided from baton/footer.html #}
<div id="footer" class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center"></div>
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    {% blocktrans %}PALOP-TL CSO online budget platform{% endblocktrans %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center"></div>
        </div>
    </div>
</div>
{% endblock %}