{% extends "admin:admin/base_site.html" %}
{% load static i18n %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'external/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-admin.css' %}">
{% endblock %}

{% block extrahead %}
    <script src="{% static 'external/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'external/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
    </script>
{% endblock %}

{% block userlinks %}
{{ block.super }} <span class="language-separator">|</span>
<form action="{% url 'set_language' %}" method="post" style="display:inline">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="this.form.submit()" class="language-selector">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
</form>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    {% if user.profile.country and user.profile.country.flag %}
        <img class="header-flag" src="{{ user.profile.country.flag.url }}" /> {{ user.profile.country.name }}
    {% endif %}
</h1>

<div class="loading-wrap">
    <img src="{% static 'img/loading.gif' %}" />
    {% trans "Loading" %}...
</div>
{% if request.session.upload_in_progress %}
    <script src="{% static 'js/beep.js' %}"></script>
    <div class="upload-in-progress">
        <img src="{% static 'img/loading.gif' %}" />
        {% trans "Importing report..." %}
    </div>
    <div class="upload-result"></div>
    <script type="text/javascript">
        $('.upload-in-progress').animate({ "left": "-=220px" }, "slow" );
        var status = 'validating';
        var url = '{% url 'api_admin-check-in-progress-upload' request.session.upload_in_progress %}';
        var check_in_progress = setInterval(function () {
            $.get(url, function( data ) {
                if(!Object.keys(data).length){
                    return;
                }
                if(data['status'] != 'validating' && data['status'] != 'importing'){
                    // Upload finished
                    var link = '{% url "admin:budget_budget_changelist" %}' + data['budget_id'];
                    var link_text = "{% trans 'See results' %}";
                    var message = "{% trans 'The report has been imported with success.' %}";
                    if(data['status'] != 'success'){
                        link_text = "{% trans 'Check and fix errors' %}";
                        message = "{% trans 'The report has validation errors.' %}";
                    }
                    message = "<strong>" + data['get_report_display'] + "</strong><br>" + message;
                    $('.upload-in-progress').hide();
                    $('.upload-result').html(message);
                    $('.upload-result').dialog({
                        title: "{% trans 'Upload finished' %}",
                        buttons: [{
                            text: link_text,
                            icon: "ui-icon-document",
                            click: function() {
                                window.location.href = link;
                            }
                        }]
                    });
                    beep();
                    clearInterval(check_in_progress);
                }
            }).fail(function() {
                clearInterval(check_in_progress);
            });
        }, 10000)
    </script>
{% endif %}

{% endblock %}