{% extends "admin:admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-admin.css' %}">
{% endblock %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    {% if user.profile.country %}
    | <img class="header-flag" src="{{ user.profile.country.flag.url }}" /> {{ user.profile.country.name }}
    {% endif %}
</h1>

    {% if request.session.test_var %}
        <div>Importando relatório...</div>
    {% endif %}

{% endblock %}