{% extends "admin:admin/index.html" %}
{% load custom_tags i18n %}

{% block sidebar %}
{% get_latest_budgets user as latest_budgets %}
{% get_current_budget user as current_budget %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans "Latest budgets" %}</h2>
        <div class="shortcuts">
            {% for budget in latest_budgets %}
                <div>
                    <a class="button" href="{% url "admin:budget_budget_change" budget.id %}">
                        {% trans "Budget" %} {{ budget.country }} {{ budget.year }}
                    </a>
                </div>
            {% endfor %}
            <div>
                <a class="button create" href="{% url "admin:budget_budget_add" %}">
                    {% trans "Add new budget" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
