img.header-flag { width: 50px; margin-left: 20px; }

.ui-widget-content { background-color: #f4f4f4; }

.ui-dialog-titlebar { background-color: #79aec8; color: #FFF; }

.upload-result { display: none; }
.upload-in-progress {
    position: fixed;
    bottom: 60px;
    right: -300px;
    width: 300px;
    margin-left: -100px;
    text-align: center;
    background: #e6e6e6;
    color: #585858;
    vertical-align: middle;
    z-index: 9999;
    padding: 10px 20px;
    box-shadow: -1px 3px 7px 0px #c3c3c3;
    opacity: 0.94;
}
.upload-in-progress img { width: 50px; vertical-align: middle; }

body.login { background: url("../img/background.png") no-repeat !important;  }
body.login #container { margin: 300px auto; border: 1px solid #bcbcbc; }
#header { background-color: #234a5e; }