#header { background-color: #234a5e; }
.hide { display: none; }

img.header-flag { width: 50px; margin-left: 20px; }

.ui-widget-content { background-color: #eaeaea; }

.ui-dialog-titlebar { background-color: #234a5e; color: #FFF; }

.upload-result { display: none; }
.upload-in-progress {
    position: fixed;
    bottom: 60px;
    right: -220px;
    width: 220px;
    text-align: left;
    background: #e6e6e6;
    color: #585858;
    vertical-align: middle;
    z-index: 9999;
    padding: 10px 20px;
    box-shadow: -1px 3px 7px 0px #c3c3c3;
    opacity: 0.94;
}
.upload-in-progress img { width: 50px; vertical-align: middle; }

body.login { background: url("../img/background.png") no-repeat !important;  }
body.login #container { margin: 300px auto; border: 1px solid #bcbcbc; }

.shortcuts { padding: 10px 20px 10px 20px; }
.shortcuts div { margin-bottom: 20px; }
a.button.create { background-color: #cbbf3e; }
a.button.create:hover { background-color: #a69a1e; }

#content-related { width: 270px; }

.inline-description { padding: 8px; background-color: #ededed; color: #6a6a6a; }
.inline-actions { float: right; }
.inline-actions a { color: #f5dd5d; }
.inline-actions a:hover { color: #e8d616; }

.language-selector { margin-right: 10px; background-color: #234a5e; color: #FFF; margin-right: 10px; border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); border-radius: 0; }
.language-separator { color: rgba(255, 255, 255, 0.25); margin: 0 10px; }