body { font-family: 'Montserrat', sans-serif; }

$main_color: #0f2843;
$description_bg_color: #194262;
$treemap_height: 740px;
$hover_color: #e4e0df;

.big-container { margin: 0 30px; }
a { color: $main_color; text-decoration: none; }

.menu {
  .dropbtn {
    div {
      width: 35px;
      height: 5px;
      background-color: $main_color;
      margin: 6px 0;
    }
  }

  position: relative;
  display: inline-block;

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    text-align: left;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px 0 10px 10px;
    a {
      color: black;
      padding: 12px 20px;
      text-decoration: none;
      display: block;
    }
    a:hover { background-color: $hover_color; }
    img { height: 20px; vertical-align: middle; margin-right: 10px; }
  }
  &:hover {
    .dropdown-content {
      display: block;
    }
    .dropbtn {

    }
  }
}

hr {
  border-bottom: 1px solid #d7d5d5;
  border-top: 0;
  box-shadow: 0px 2px 5px 1px #d2d2d2;
  width: 99.9%;
}

.arrow-right {
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #0f2843;
  display: inline-block;
  position: relative;
  top: -4px;
}
.arrow-down {
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0f2843;
  display: inline-block;
  position: relative;
  top: 0px;
}

h3 {
  font-size: 30px;
  color: #0f2843;
  .arrow {
    top: -4px;
  }
}

.header {
  h1 {
    margin: 0;
    a {
      color: #0f2843;
      text-decoration: none;
      &:active { color: #215c96; }
    }
  }

  hr {
    border-bottom: 1px solid #d7d5d5;
    border-top: 0;
    box-shadow: 0px 2px 5px 1px #d2d2d2;
  }
  .upper-row { height: 100px; margin-bottom: -10px; }
  .bottom-row { height: 140px; margin-top: -10px; }
}

.footer {
  margin-top: 60px;

  .countries {
    margin-bottom: 20px;
    a {
      text-decoration: none;
      font-size: 14px;
      color: #6f7975;
      text-transform: uppercase;
      &:hover { color: #232323; }
    }
    img {
      height: 30px;
      width: 50px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .first-col {
    border-right: 1px solid #aaaaaa;

    .upper-row {
      margin-bottom: 20px;
    }
    .bottom-row {
      font-size: 12px;
      color: #747373;
      img { margin-right: 5px; }
    }
  }

  hr {
    border-bottom: 1px solid #d7d5d5;
    border-top: 0;
    box-shadow: 0px 2px 5px 1px #d2d2d2;
  }

  .last-line {
    margin-top: -10px;
    height: 54px;
    font-size: 11px;
  }
}

.page-index {
  text-align: left;

  .hero {
    img { width: 100%; }
  }
  .about {
    background-image: url("../img/texture_bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: $description_bg_color;
    height: 400px;
    color: #FFFFFF;
    position: relative;
    top: -6px;
  }

  .countries {
    margin-top: 60px;
    .flags-wrapper {
      position: relative;
      top: -8px;
    }
    .full-width {
      margin: 0;
      width: 100%;
      .col {
        padding: 0;
        margin: 0;
        width: 33.32%;
        img { width: 100%; height: 100%; }
        position: relative;
        &:hover {
          .overlay { display: flex; }
        }
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 60px;
      z-index: 99;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.65);
      margin: 0 auto;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}

.page-country-detail {
  .country-name-wrapper {
    background-position-y: bottom;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 680px 0px 160px 7px rgb(0 0 0 / 65%);
    box-shadow: inset 680px 0px 160px 7px rgb(0 0 0 / 65%);
    h1 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 60px;
    }
  }
  .flag-wrapper {
    padding: 40px 0;
    background-image: url("../img/texture-1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    .flag {
      width: 100%;
    }
    .big-container { padding-top: 30px; }
  }
  .breadcrumb-row {
    z-index: 99;

    .breadcrumb-wrapper {
      .breadcrumb-link:last-child {
        font-weight: bold;
      }
      .arrow-right {
        top: 2px;
        margin: 0 10px;
      }
      .arrow-right:last-child {
        display: none;
      }

    }
    .budget-account-selector-row {
      position: relative;

      a {
        display: inline-block;
        background: #eae6e5;
        width: 100px;
        text-align: center;
        padding: 4px 40px;
        font-size: 12px;
        border-right: 1px solid #82aecb;

        &.active {
          background-color: #0f69a4;
          color: #FFFFFF;
        }
        &:hover {
          background-color: #c5c1c0;
        }
        &:last-child {
          border-right: 0;
        }
      }

      .budget-account-selector {
        display: inline-block;
        border-right: 1px solid #82aecb;
        padding-right: 10px;
        margin-right: 10px;
      }
      .budget-selector {
        display: inline-block;
        margin-left: -5px;
        a {
          width: 40px;
          padding: 4px 10px;
        }
      }
    }
  }

  .treemap-wrapper {
    position: relative;
    top: -24px;
    margin-bottom: 40px;

    hr.shaddow {
      position: relative;
      bottom: -61px;
      z-index: 9;
    }
    .budget_account-info-wrapper {
      width: 22% !important;
      margin: 0 !important;
    }
    .chart-wrapper {
      width: 78% !important;
      margin: 0 !important;
    }
    #chart-treemap {
      width: 100%;
      margin: 0 auto;
      height: $treemap_height;
    }
    .budget_account-info {
      color: #34495d;
      margin-top: 16px;
      font-size: 12px;
      h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
      h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0;
      }
      hr {
        border-top: 1px solid #34495d;
        border-bottom: 0;
        box-shadow: none;
      }
      .budget_account-info-box {
        background-color: #eae6e5;
        padding: 30px;
        margin-bottom: 7px;
        font-size: 14px;

        h4 {
          margin: 0;
          span { margin-left: 20px; top: -2px; }
        }
      }
      .treemap-legend {
        width: 30px;
        height: 30px;
      }
      .execution-percentage {
        display: none;
        padding-left: 20px;
        color: #aaaaaa;
      }
      .execution-group-indicator {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $main_color;
        display: none;
        position: relative;
        top: 2px;
        left: 10px;
      }
      .execution-group-1 .group-1 {
        .execution-group-indicator { display: inline-block; }
        .execution-percentage { display: block; }
      }
      .execution-group-2 .group-2 {
        .execution-group-indicator { display: inline-block; }
        .execution-percentage { display: block; }
      }
      .execution-group-3 .group-3 {
        .execution-group-indicator { display: inline-block; }
        .execution-percentage { display: block; }
      }
      .execution-group-4 .group-4 {
        .execution-group-indicator { display: inline-block; }
        .execution-percentage { display: block; }
      }
      .execution-group-5 .group-5 {
        .execution-group-indicator { display: inline-block; }
        .execution-percentage { display: block; }
      }

      .group-1 .treemap-legend {
        background-color: #f2cc05;
      }
      .group-2 .treemap-legend {
        background-color: #f2571c;
      }
      .group-3 .treemap-legend {
        background-color: #8c1717;
      }
      .group-4 .treemap-legend {
        background-color: #66298c;
      }
      .group-5 .treemap-legend {
        background-color: #0f69a3;
      }
      .treemap-legend-table {
        margin-top: 10px;
      }
      .treemap-legend-table tr td {
        padding: 1px;
      }
      table.primary-info {
        margin-top: 20px;
        width: 100%;
        td:first-child { width: 40%; padding-bottom: 5px; }
        .execution-aggregated {
          small {
            color: #727272;
          }
        }
      }
      table.secondary-info {
        width: 100%;
        td:first-child { width: 50%; padding-bottom: 10px; }
      }
    }
  }

  .historical-wrapper {
    margin-top: 60px;
    margin-bottom: 100px;
    h4 {
      margin-bottom: 40px;
      text-transform: uppercase;
      text-align: center;
    }
    #historical-info {
      height: 500px;
    }
    #historical-legend {
      position: absolute;
      bottom: 30px;
      border: 1px solid $main_color;
    }
  }

  .datatable-wrapper {
    margin-top: 40px;
    table.datatable-info {
      th, td { text-align: left; color: $main_color; padding: 5px 10px; line-height: 20px; }
      th { font-size: 14px; }
      td.separator { background-color: #FFFFFF; height: 10px; padding: 0; }
      th.vertical-separator { padding: 0; }
      thead {
        background-color: #eae6e5;
      }
      tbody {
        background-color: #FFFFFF;
        td {
          background-color: #eae6e5;
          border-left: 10px solid #FFFFFF;
          font-size: 12px;
        }
        td:first-child {
          border-left: 0;
          border-right: 0;
        }
        td.vertical-separator {
          border-right: 1px solid #5d8aac;
          padding: 0;
          background-color: #FFF;
          width: 0;
          border-left: 10px solid #FFFFFF;
        }
        tr:hover {
          td { background-color: #c5c1c0; }
        }
      }
    }
  }
  .transparency-wrapper {
    background-color: $description_bg_color;
    background-image: url("../img/texture-2.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    height: 400px;
    color: #FFFFFF;
    margin-top: 100px;
    h2 { margin-top: 60px; }
    .img-wrapper {
      margin-top: 0;
      margin-bottom: 0;
      img {
        max-height: 400px;
      }
    }
  }
}

.temp-info {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border: 1px solid #CCC;
  background-color: #efefef;
  width: 700px;
  margin: 100px auto 0;
}

.ml-0 { margin-left: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }