body {
  font-family: "Montserrat", sans-serif;
}

.big-container {
  margin: 0 30px;
}

a {
  color: #0f2843;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 52px;
}

h2 {
  font-family: CeraPro;
  font-weight: normal;
  line-height: 50px;
  font-size: 49px;
  text-transform: uppercase;
  color: #0f2843;
}
h2 .arrow {
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0f2843;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -30px;
}

h4 {
  font-family: CeraPro;
  font-weight: 300;
  line-height: 50px;
  font-size: 42px;
  text-transform: uppercase;
}

a.download-link {
  font-size: 12px;
  border-radius: 10px;
  padding: 1px 40px;
  border: 1px solid #0f69a3;
  color: #0f69a3;
}
a.download-link:hover {
  background-color: #0e588d;
  color: #FFF;
}

.money-display {
  font-family: RobotoMono;
  text-align: right;
}

.language-selector .lang {
  display: inline-block;
  border-left: 1px solid #586460;
  padding: 0 16px;
}
.language-selector .lang:first-child {
  border-left: 0;
  padding-left: 0;
}
.language-selector .lang:last-child {
  padding-right: 0;
}
.language-selector .lang a {
  font-size: 12px;
  color: #9ba2a0;
}
.language-selector .lang a.active {
  font-weight: bold;
  color: #586460;
}

.menu {
  position: relative;
  display: inline-block;
  /* Dropdown Content (Hidden by Default) */
}
.menu .dropbtn div {
  width: 35px;
  height: 5px;
  background-color: #0f2843;
  margin: 6px 0;
}
.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  text-align: left;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px 0 10px 10px;
}
.menu .dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}
.menu .dropdown-content a:hover {
  background-color: #e4e0df;
}
.menu .dropdown-content img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.menu:hover .dropdown-content {
  display: block;
}
hr {
  border-bottom: 1px solid #d7d5d5;
  border-top: 0;
  box-shadow: 0px 2px 5px 1px #d2d2d2;
  width: 99.9%;
}

.arrow-right {
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #0f2843;
  display: inline-block;
  position: relative;
  top: -4px;
}

.arrow-down {
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0f2843;
  display: inline-block;
  position: relative;
  top: 0px;
}

h3 {
  font-size: 30px;
  color: #0f2843;
}
h3 .arrow {
  top: -4px;
}

.header h1 {
  padding: 36px 0;
  margin: 0;
  line-height: 52px;
}
.header h1 a {
  color: #0f2843;
  text-decoration: none;
  line-height: 57px;
}
.header h1 a:active {
  color: #215c96;
}
.header hr {
  border-bottom: 1px solid #d7d5d5;
  border-top: 0;
  box-shadow: 0px 2px 5px 1px #d2d2d2;
}
.header .upper-row {
  height: 100px;
  margin-bottom: -10px;
}
.header .logos img {
  height: 80px;
}
.header .logos .logo-ue {
  padding-left: 10px;
}

.footer {
  margin-top: 60px;
}
.footer .countries {
  margin-bottom: 40px;
  display: flex;
}
.footer .countries div {
  flex-basis: 100%;
  text-align: center;
  text-align: left;
}
.footer .countries div:last-child {
  padding-left: 40px;
}
.footer .countries a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #68736f;
  text-transform: uppercase;
}
.footer .countries a:hover {
  color: #232323;
}
.footer .countries img {
  height: 28px;
  width: 42px;
  vertical-align: middle;
  margin-right: 5px;
  float: left;
}
.footer .sponsors {
  margin-bottom: 60px;
}
.footer .first-col .upper-row {
  margin-bottom: 20px;
}
.footer .first-col .bottom-row {
  font-size: 12px;
  color: #747373;
}
.footer .first-col .bottom-row .logos-ods {
  width: 100%;
}
.footer .disclaimer {
  border-left: 1px solid #aaaaaa;
  font-size: 13px;
  color: #747373;
  padding-left: 80px;
  text-align: justify;
}
.footer hr {
  border-bottom: 1px solid #d7d5d5;
  border-top: 0;
  box-shadow: 0px 2px 5px 1px #d2d2d2;
}
.footer .last-line {
  margin-top: -10px;
  height: 54px;
  font-size: 11px;
}
.footer .social a {
  margin-left: 10px;
}
.footer .logos img {
  width: 100%;
}

.page-index {
  text-align: left;
}
.page-index .hero {
  padding: 40px 0;
  background-image: url("../img/hero-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-index .hero h2 {
  font-family: CeraPro;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 6px;
  margin: 90px 0 20px;
}
.page-index .hero .short-description {
  color: #FFF;
  font-size: 30px;
  line-height: 34px;
}
.page-index .hero .img-wrap {
  text-align: right;
}
.page-index .hero .img-wrap img {
  width: 90%;
}
.page-index .about {
  background-image: url("../img/texture_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-color: #194262;
  color: #FFFFFF;
  position: relative;
  margin-top: -7px;
  padding: 40px 0 80px;
}
.page-index .about h2 {
  color: #FFF;
  margin-bottom: 20px;
}
.page-index .about h2 .arrow {
  border-left-color: #FFF;
}
.page-index .ranking {
  background-color: #f7f5f5;
}
.page-index .ranking .ranking-header {
  padding: 40px 0;
}
.page-index .ranking .ranking-header h2 {
  margin: 50px 0 20px 0;
}
.page-index .ranking .ranking-header h4 {
  color: #0f69a3;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.page-index .ranking .ranking-header .short-description {
  color: #0f69a3;
}
.page-index .ranking .ranking-wrapper {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 40px;
  position: relative;
}
.page-index .ranking .ranking-wrapper table.ranking-table {
  width: 100%;
}
.page-index .ranking .ranking-wrapper table.ranking-table thead th {
  text-align: center;
  height: 80px;
}
.page-index .ranking .ranking-wrapper table.ranking-table thead th.f-dimension {
  border-bottom: 2px solid #0f2843;
  font-size: 14px;
  vertical-align: bottom;
  padding-bottom: 10px;
}
.page-index .ranking .ranking-wrapper table.ranking-table thead th.f-dimension.active {
  border-bottom: 5px solid #0f2843;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody .separator-row {
  height: 10px;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-1 .f-position {
  background-color: #dfecf3;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-2 .f-position {
  background-color: #d0e1ec;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-3 .f-position {
  background-color: #9ec2da;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-4 .f-position {
  background-color: #6fa4c6;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-5 .f-position {
  background-color: #3e87b6;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-number-6 .f-position {
  background-color: #0f69a3;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-avg td.f-position {
  background-color: #f7f5f5;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.row-avg td {
  background-color: #dfecf3;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row {
  background-color: #eae6e5 !important;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row {
  align-items: center;
  height: 86px;
  margin-bottom: 23px;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-position {
  width: 10%;
  text-align: center;
  font-weight: bold;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-flag {
  width: 10%;
  margin-left: 9px;
  border-left: 10px solid #f7f5f5;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-flag img {
  height: 86px;
  width: 140px;
  vertical-align: middle;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-name {
  width: 28%;
  padding-left: 20px;
  text-transform: uppercase;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-dimension {
  width: 13%;
  font-size: 18px;
  text-align: center;
  position: relative;
  height: 54px;
  line-height: 54px;
  border-left: 1px solid #b0c3d3;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row .f-dimension.f-dimension-4 {
  font-size: 22px;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 {
  height: 97px;
  margin-bottom: 23px;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 .f-position {
  text-transform: uppercase;
  font-weight: bold;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 .f-flag {
  width: 117px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 .f-dimension {
  top: 147px;
  height: 53px;
  line-height: 53px;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 .f-dimension .arrow-down {
  border-top-color: #d6d6d6;
}
.page-index .ranking .ranking-wrapper table.ranking-table tbody tr.ranking-row.row-number-0 .f-dimension.active .arrow-down {
  border-top-color: #0f2843;
}
.page-index .ranking .ranking-wrapper .sortable {
  cursor: pointer;
}
.page-index .ranking .ranking-wrapper .row-dimensions-header {
  position: absolute;
  right: 0;
  display: flex;
}
.page-index .ranking .ranking-wrapper .row-dimensions-header .f-dimension {
  width: 181px;
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #0f2843;
  padding-bottom: 20px;
}
.page-index .ranking .ranking-wrapper .row-dimensions-header .f-dimension.active {
  border-bottom-width: 3px;
}
.page-index .ranking .countries-description {
  padding-bottom: 10px;
}
.page-index .ranking .downloads {
  margin-bottom: 80px;
}
.page-index .ranking .downloads h4 {
  font-size: 20px;
  font-weight: bold;
}
.page-index .ranking .downloads ul {
  color: #0f69a3;
  list-style: none;
  padding: 0;
}
.page-index .ranking .downloads ul li {
  border-bottom: 1px solid #0f69a3;
  padding: 10px 0;
}
.page-index .ranking .downloads ul li a {
  float: right;
}
.page-index .countries .flags-wrapper {
  position: relative;
  top: -18px;
}
.page-index .countries .full-width {
  margin: 0;
  width: 100%;
}
.page-index .countries .full-width .col {
  padding: 0;
  margin: 0;
  width: 33.32%;
  position: relative;
}
.page-index .countries .full-width .col img {
  width: 100%;
  height: 100%;
}
.page-index .countries .full-width .col:hover .overlay {
  display: flex;
}
.page-index .countries .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 0 auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.page-index .countries .overlay a {
  color: #FFF;
  text-decoration: none;
}

.page-country-detail .country-name-wrapper {
  background-position-y: bottom;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 680px 0px 160px 7px rgba(0, 0, 0, 0.65);
  box-shadow: inset 680px 0px 160px 7px rgba(0, 0, 0, 0.65);
}
.page-country-detail .country-name-wrapper h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 60px;
}
.page-country-detail .flag-wrapper {
  padding: 40px 0;
  background-image: url("../img/texture-1.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.page-country-detail .flag-wrapper h3 {
  margin-bottom: 5px;
}
.page-country-detail .flag-wrapper .flag {
  width: 100%;
}
.page-country-detail .flag-wrapper .big-container {
  padding-top: 30px;
}
.page-country-detail .flag-wrapper .header-currency {
  padding-left: 18px;
}
.page-country-detail .breadcrumb-row {
  z-index: 99;
}
.page-country-detail .breadcrumb-row .breadcrumb-wrapper .breadcrumb-link:last-child {
  font-weight: bold;
}
.page-country-detail .breadcrumb-row .breadcrumb-wrapper .arrow-right {
  top: 2px;
  margin: 0 10px;
}
.page-country-detail .breadcrumb-row .breadcrumb-wrapper .arrow-right:last-child {
  display: none;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row {
  position: relative;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row > div {
  display: inline-block;
  border-right: 1px solid #82aecb;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: -5px;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row > div:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a {
  background: #eae6e5;
  width: 100px;
  text-align: center;
  padding: 4px 20px;
  font-size: 12px;
  border-right: 1px solid #82aecb;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a.active {
  background-color: #0f69a4;
  color: #FFFFFF;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a.active:hover {
  background-color: #0e5384;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a.inactive {
  background-color: #eaecee;
  color: #FFFFFF;
  cursor: not-allowed;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a.inactive:hover {
  background-color: #eaecee;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a:hover {
  background-color: #c5c1c0;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a:last-child {
  border-right: 0;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row a:nth-child(2) {
  border-right: 0;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .budget-account-selector {
  border-right: 1px solid #82aecb;
  padding-right: 10px;
  margin-right: 10px;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .budget-selector {
  margin-left: -4px;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .budget-selector a {
  width: 40px;
  padding: 4px 10px;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .visualization-selector {
  margin-left: -10px;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .visualization-selector a {
  width: 20px;
  padding: 4px 2px;
  background: none;
  border-right: 0;
  color: #cacaca;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .visualization-selector a.active {
  color: gray;
}
.page-country-detail .breadcrumb-row .budget-account-selector-row .visualization-selector a:hover {
  background: none !important;
  color: #6b6b6b;
}
.page-country-detail .treemap-wrapper {
  position: relative;
  top: -24px;
  margin-bottom: 40px;
}
.page-country-detail .treemap-wrapper .treemap-tooltip {
  font-size: 16px;
  color: #FFF;
  max-width: 500px;
}
.page-country-detail .treemap-wrapper .treemap-tooltip h5 {
  color: #FFF;
  margin: 0;
  text-align: left;
  font-size: 18px;
  padding-bottom: 6px;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table {
  width: 400px;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table td.money-display {
  text-align: left;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table td:first-child {
  text-align: right;
  padding-right: 5px;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table td:last-child {
  padding-left: 5px;
  font-weight: bold;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table td:last-child.no-value {
  font-weight: normal;
  font-style: italic;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table tr.secondary-info td {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
.page-country-detail .treemap-wrapper .treemap-tooltip table .execution_percent {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
.page-country-detail .treemap-wrapper hr.shaddow {
  position: relative;
  bottom: -61px;
  z-index: 9;
}
.page-country-detail .treemap-wrapper .budget_account-info-wrapper {
  width: 22% !important;
  margin: 0 !important;
}
.page-country-detail .treemap-wrapper .chart-wrapper {
  width: 78% !important;
  margin: 0 !important;
}
.page-country-detail .treemap-wrapper #chart-treemap {
  width: 100%;
  margin: 0 auto;
  height: 729px;
}
.page-country-detail .treemap-wrapper .budget_account-info {
  color: #34495d;
  margin-top: 16px;
  font-size: 12px;
}
.page-country-detail .treemap-wrapper .budget_account-info .label-wrapper {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.page-country-detail .treemap-wrapper .budget_account-info .name-wrapper {
  font-size: 14px;
  font-weight: bold;
  min-height: 85px;
  margin-top: 0;
}
.page-country-detail .treemap-wrapper .budget_account-info hr {
  border-top: 1px solid #34495d;
  border-bottom: 0;
  box-shadow: none;
}
.page-country-detail .treemap-wrapper .budget_account-info .secondary-info-wrapper {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}
.page-country-detail .treemap-wrapper .budget_account-info .secondary-info-wrapper .arrow-down {
  position: relative;
  top: -2px;
  margin-left: 20px;
}
.page-country-detail .treemap-wrapper .budget_account-info .budget_account-info-box {
  background-color: #eae6e5;
  padding: 30px;
  margin-bottom: 7px;
}
.page-country-detail .treemap-wrapper .budget_account-info .budget_account-info-box h4 {
  margin: 0;
}
.page-country-detail .treemap-wrapper .budget_account-info .budget_account-info-box h4 span {
  margin-left: 20px;
  top: -2px;
}
.page-country-detail .treemap-wrapper .budget_account-info .execution-percentage {
  display: none;
  color: #0f2843;
}
.page-country-detail .treemap-wrapper .budget_account-info .execution-group-0 .group-0 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .execution-group-0 .group-0 .execution-percentage {
  display: block;
  position: relative;
  left: -20px;
  width: 100px;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table {
  margin-top: 10px;
  table-layout: fixed;
  width: 100%;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-1 .group-1 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-1 .group-1 .execution-percentage {
  display: block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-2 .group-2 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-2 .group-2 .execution-percentage {
  display: block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-3 .group-3 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-3 .group-3 .execution-percentage {
  display: block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-4 .group-4 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-4 .group-4 .execution-percentage {
  display: block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-5 .group-5 .execution-group-indicator {
  display: inline-block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table.execution-group-5 .group-5 .execution-percentage {
  display: block;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .treemap-legend {
  height: 40px;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .execution-group-indicator {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0f2843;
  display: none;
  position: relative;
  top: 2px;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-0 .treemap-legend {
  background-color: #7a8381;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-1 .treemap-legend {
  background-color: #f2cc05;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-2 .treemap-legend {
  background-color: #f2571c;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-3 .treemap-legend {
  background-color: #8c1717;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-4 .treemap-legend {
  background-color: #66298c;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .group-5 .treemap-legend {
  background-color: #0f69a3;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table .legend-square td {
  padding: 5px;
}
.page-country-detail .treemap-wrapper .budget_account-info .treemap-legend-table tr td {
  padding: 1px;
  text-align: center;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info {
  width: 100%;
  font-size: 13px;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info td {
  padding-bottom: 5px;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info td:last-child {
  padding-left: 15px;
  font-weight: bold;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info td:first-child {
  width: 40%;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info .execution-aggregated td:last-child {
  font-weight: bold;
}
.page-country-detail .treemap-wrapper .budget_account-info table.primary-info .execution-aggregated small {
  color: #727272;
}
.page-country-detail .treemap-wrapper .budget_account-info table.secondary-info {
  font-size: 13px;
  width: 100%;
}
.page-country-detail .treemap-wrapper .budget_account-info table.secondary-info td {
  padding-bottom: 5px;
}
.page-country-detail .treemap-wrapper .budget_account-info table.secondary-info td:first-child {
  width: 40%;
}
.page-country-detail .treemap-wrapper .budget_account-info table.secondary-info td:last-child {
  font-weight: bold;
}
.page-country-detail .treemap-wrapper .budget_account-info table.secondary-info td.info-title {
  font-style: italic;
  font-weight: normal;
}
.page-country-detail .historical-wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
}
.page-country-detail .historical-wrapper h4 {
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}
.page-country-detail .historical-wrapper #historical-info {
  height: 500px;
}
.page-country-detail .historical-wrapper #historical-legend {
  position: absolute;
  bottom: 30px;
  border: 1px solid #0f2843;
}
.page-country-detail .datatable-wrapper {
  margin-top: 40px;
}
.page-country-detail .datatable-wrapper table.datatable-info td {
  font-family: RobotoMono;
}
.page-country-detail .datatable-wrapper table.datatable-info th, .page-country-detail .datatable-wrapper table.datatable-info td {
  text-align: right;
  color: #0f2843;
  padding: 5px 10px;
  line-height: 20px;
}
.page-country-detail .datatable-wrapper table.datatable-info th {
  font-size: 14px;
}
.page-country-detail .datatable-wrapper table.datatable-info th:first-child, .page-country-detail .datatable-wrapper table.datatable-info td:first-child {
  text-align: left;
}
.page-country-detail .datatable-wrapper table.datatable-info td.separator {
  background-color: #FFFFFF;
  height: 6px;
  padding: 0;
}
.page-country-detail .datatable-wrapper table.datatable-info th.vertical-separator {
  padding: 0;
}
.page-country-detail .datatable-wrapper table.datatable-info thead {
  background-color: #eae6e5;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody {
  background-color: #FFFFFF;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr:hover td {
  background-color: #e0dbd9;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr.parent-category td {
  background-color: #eae6e5;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr.parent-category:hover td {
  background-color: #e2dedd;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr.parent-category.highlight td {
  background-color: #0f69a4;
  color: #FFF;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr.highlight td {
  background-color: #0f92dc;
  color: #FFF;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td {
  background-color: #f7f3f2;
  border-left: 6px solid #FFFFFF;
  font-size: 12px;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td:first-child {
  border-left: 0;
  border-right: 0;
  line-height: 25px;
  width: 20%;
  cursor: pointer;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td.vertical-separator {
  border-right: 1px solid #5d8aac;
  padding: 0;
  background-color: #FFF;
  width: 0;
  border-left: 6px solid #FFFFFF;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td .arrow {
  margin-left: -5px;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td .expand-visualization {
  cursor: pointer;
  color: #cacaca;
  font-size: 16px;
}
.page-country-detail .datatable-wrapper table.datatable-info tbody tr td .expand-visualization:hover {
  color: #6b6b6b;
}
.page-country-detail .transparency-wrapper {
  background-color: #194262;
  background-image: url("../img/texture-2.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  height: 400px;
  color: #FFFFFF;
  margin-top: 100px;
}
.page-country-detail .transparency-wrapper h2 {
  margin-top: 60px;
  color: #FFF;
}
.page-country-detail .transparency-wrapper h2 .arrow {
  border-left-color: #FFF;
}
.page-country-detail .transparency-wrapper .img-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}
.page-country-detail .transparency-wrapper .img-wrapper img {
  max-height: 400px;
}

.temp-info {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border: 1px solid #CCC;
  background-color: #efefef;
  width: 700px;
  margin: 100px auto 0;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=frontend.css.map */
