{% load i18n static custom_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}{% get_countries as all_countries %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% trans "PALOP-TL CSO online budget platform" %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/simple-grid.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/frontend.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static "external/introjs/introjs.min.css" %}">

        <script src="{% static 'external/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'external/introjs/intro.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
        <script src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/handlebars-helpers.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.language-selector-form').find('a').on('click', function(ev){
                    ev.preventDefault();
                    var $form = $(this).closest('form');
                    var language = $(this).data('language_code');
                    $form.find('input[name="language"]').val(language);
                    $form.submit();
                })
            })
        </script>
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <body>

    {% block header %}
        <div class="header">
            <div class="container">
                <div class="row upper-row middle">
                    <div class="col-6">
                        <div class="row logos">
                            <div class="col-6 ml-0">
                                <img src="{% static 'img/logo-propaloptl-pt.png' %}" class="logo-propaloptl" alt="Logo Pro PALOP-TL ISC" />
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/logo-paloptl-ue.png' %}" class="logo-ue" alt="Logo PALOP-TL UE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6 right">
                        {% include 'frontend/language-selector.component.html' %}
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row bottom-row middle">
                    <div class="col-11">
                        <h1>
                            <a href="{% url 'index' %}">
                                {% blocktrans trimmed %}
                                <strong>PALOP-TL</strong> Civil Society <strong>Online Budget Platform</strong>
                                {% endblocktrans %}
                            </a>
                        </h1>
                    </div>
                    <div class="col-1 right">
                        <div class="menu">
                            <div class="dropbtn">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="dropdown-content">
                                <div class="short-description">
                                    {% blocktrans %}Choose a country to<br>understand its budget{% endblocktrans %}
                                </div>
                                {% for country in all_countries %}
                                    <a href="{% url 'country-details' country.slug %}">
                                        <img src="{{ country.flag.url }}"/> {{ country.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="countries">
                        {% for country in all_countries %}
                            <a href="{% url 'country-details' country.slug %}" >
                                <img src="{{ country.flag.url }}" />
                                <span>{{ country.name }}</span>
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row sponsors">
                    <div class="col-7 first-col">
                        <div class="row upper-row middle logos">
                            <div class="col-6 ml-0">
                                <img src="{% static 'img/logo-propaloptl-pt.png' %}" class="logo-propaloptl" alt="Logo Pro PALOP-TL ISC" />
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/logo-paloptl-ue.png' %}" class="logo-ue" alt="Logo PALOP-TL UE" />
                            </div>
                        </div>
                        <div class="row bottom-row middle">
                            <div class="col-5 ml-0">
                                <img class="logos-ods" src="{% static 'img/logos_ods.png' %}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="disclaimer">
                            {% blocktrans trimmed %}
                                The Online Platform for PALOP and Timor-Leste Civil Society Organizations for Budget
                                Simplification and Analysis was produced by Pro PALOP-TL ISC, and co-financed by the
                                European Union and the United Nations Development Programme.<br>
                                Its contents are the sole responsibility of Pro PALOP-TL ISC and can in no way be used
                                to reflect the positions of the European Union.<br>
                                The opinions expressed on this platform are those of the authors alone and do not
                                necessarily represent the views of the United Nations, the United Nations
                                Development Programme, or the United Nations Member States.
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row last-line middle">
                    <div class="col-3">{% include 'frontend/language-selector.component.html' %}</div>
                    <div class="col-6 center">{% trans "2020 ©PALOP-TL ISC All rights reserved" %}</div>
                    <div class="col-3 right social">
                        <a target="_blank" href="{% get_social_network_url 'facebook' %}"><img src="{% static 'img/icon_facebook.png' %}" alt="facebook icon" /></a>
                        <a target="_blank" href="{% get_social_network_url 'youtube' %}"><img src="{% static 'img/icon_youtube.png' %}" alt="youtube icon" /></a>
                        <a target="_blank" href="{% get_social_network_url 'twitter' %}"><img src="{% static 'img/icon_twitter.png' %}" alt="twitter icon" /></a>
                        <a target="_blank" href="{% get_social_network_url 'instagram' %}"><img src="{% static 'img/icon_instagram.png' %}" alt="instagram icon" /></a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    </body>
</html>