{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}PALOP-TL CSO online budget platform{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/frontend.css" %}">
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <body>{% block content %}{% endblock content %}</body>
</html>