{% extends 'frontend/base.html' %}
{% load static %}

{% block extrahead %}
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript">
    var MEDIA_URL = '{% get_media_prefix %}';
    var treemap;
    var series_templates = [];
    var last_budget_id = {{ last_budget.id }};
    var current_budget_id = last_budget_id;
    var current_budget_account = '{{ default_budget_account }}';
    var current_budget_account_id = null;
    var current_budget_data = null;
    var budgets = {{ budgets_serialized|safe }};
    var skip_cache = {% if request.GET.no_cache %}true{% else %}false{% endif %};
    var breadcrumb = [
        {'name': "Visualização por Função", 'id': null},
        {'name': {{ last_budget.year }}, 'id': null},
    ];
    var budget_account_label_map = {
        'agencies': "Órgão",
        'functions': "Função",
    }
    var sub_budget_account_label_map = {
        'agencies': "Unidade Orçamentária",
        'functions': "Sub-função",
    }
    am4core.useTheme(am4themes_animated);


    function get_label(level, budget_account){
        var label_map = budget_account_label_map
        if(level == 1){
            label_map = sub_budget_account_label_map;
        }
        return label_map[budget_account];
    }
    function get_budget_basic_info(budget_id, callback){
        var url = url = '/api/budgets/' + budget_id + '/';
        $.get(url, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching budget basic info.");
        });
    }
    function get_budget_data(budget_id, budget_account, callback){
        var url = MEDIA_URL + 'budgets/{{ country.slug }}_' + budget_account + '_' + get_budget_year_by_id(budget_id) + '.json'
        if(skip_cache){
            // If skip_cache, retrieve data from api.
            url = '/api/budgets/' + budget_id + '/' + budget_account + '/';
        }

        $.get(url, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching budget data.");
        });
    }
    function get_historical_data(budget_id, budget_account, budget_account_id, callback){
        var params = {
            budget_account: budget_account,
            budget_account_id: budget_account_id
        }
        var url = '/api/budgets/' + budget_id + '/historical/';
        $.get(url, params, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching historical data.");
        });
    }
    function get_budget_account_aggregated_data(budget_data){
        var aggregated_data = $.extend(true, {}, budget_data[0]);
        var fields = ['budget_aggregated', 'budget_investment', 'budget_operation', 'execution_aggregated',
            'execution_investment', 'execution_operation', 'initial_budget_aggregated', 'initial_budget_investment',
            'initial_budget_operation'];
        aggregated_data['label'] = "Orçamento " + get_budget_year_by_id(current_budget_id);
        aggregated_data['name'] = "{{ country.name }}";
        aggregated_data['id'] = null;
        for(var i = 1; i < budget_data.length; i++){
            fields.forEach(function(item, index){
                var new_value = budget_data[i][item];
                if(!new_value){
                    return;
                }
                if(!aggregated_data[item]){
                    aggregated_data[item] = 0
                }
                aggregated_data[item] += new_value;
            });
        }
        return aggregated_data;
    }

    function plot_budget_account_info(data){
        if(data === undefined || !(data)){
            data = get_budget_account_aggregated_data(current_budget_data);
        } else {
            // Get label on front to prevent caching i18n labels.
            data['label'] = get_label(data['level'], current_budget_account);
        }
        current_budget_account_id = data['id'];

        var execution_percentage = data['execution_aggregated'] / data['budget_aggregated'];
        var execution_group = 0;
        if(0 < execution_percentage && execution_percentage <= 0.2)
            execution_group = 1;
        else if(0.2 < execution_percentage && execution_percentage <= 0.4)
            execution_group = 2;
        else if(0.4 < execution_percentage && execution_percentage <= 0.6)
            execution_group = 3;
        else if(0.6 < execution_percentage && execution_percentage <= 0.8)
            execution_group = 4;
        else if(0.8 < execution_percentage)
            execution_group = 5;
        data['execution_group'] = execution_group;
        data['execution_percentage'] = execution_percentage;

        renderTemplate('#template-budget_account-info', data, '#budget_account-info');
    }

    function plot_breadcrumb(){
        renderTemplate('#template-breadcrumb', {data: breadcrumb}, '.breadcrumb-wrapper');
    }
    function init_breadcrumb(plot=false){
        breadcrumb = []
        breadcrumb.push({name: "Visualização por " + budget_account_label_map[current_budget_account], id: null});
        breadcrumb.push({name: get_budget_year_by_id(current_budget_id), id: null});
        if(plot){
            plot_breadcrumb();
        }
    }
    function update_breadcrumb(data=null){
        if(data){
            init_breadcrumb();
            if(data['level'] == 0){
                breadcrumb.push({name: data['name'], id: data['id']})
            } else {
                var parent_name = get_category_name_by_id(data['parent_id']);
                breadcrumb.push({name: parent_name, id: data['parent_id']});
                breadcrumb.push({name: data['name'], id: data['id']});
            }
        }
        plot_breadcrumb();
    }

    function plot_treemap(data){
        treemap = am4core.create("chart-treemap", am4charts.TreeMap);

        /* Define data fields */
        treemap.dataFields.value = "budget_aggregated";
        treemap.dataFields.name = "name";
        treemap.dataFields.children = "children";
        treemap.dataFields.color = "color";
        treemap.zoomOutButton.disabled = true;
        treemap.marginLeft = 0;
        treemap.marginRight = 0;
        treemap.maxLevels = 1;
        treemap.homeText = "Visualização por " + budget_account_label_map[current_budget_account];
        //treemap.layoutAlgorithm = treemap.slice;

        // Labels & tooltips
        var level_columns = []; var bullets = [];
        function config_label(level){
            var series_template = treemap.seriesTemplates.create(level);
            series_templates[level] = series_template;

            var columnTemplate = series_templates[level].columns.template;
            var hoverState = columnTemplate.states.create("hover");

            // Hover
            hoverState.adapter.add("fill", function (fill, target) {
                var data = target.sprite.dataItem.dataContext._dataContext;
                var hover_color = data.color_hover;
                if (fill instanceof am4core.Color) {
                    return am4core.color(hover_color);
                }
                return fill;
            })

            columnTemplate.events.on("hit", function(ev) {
                var data = ev.target.dataItem.dataContext._dataContext;  // data: api.BudgetAccountSerializer
                go_to_category(data['id']);
            }, this);

            // Label
            var bullet = series_templates[level].bullets.push(new am4charts.LabelBullet());
            bullet.label.fill = am4core.color("#ffffff");
            if(level == 2){
                bullet.locationX = 0.5;
                bullet.locationY = 0.5;
                bullet.label.adapter.add("html", function(html, target) {
                    var data = target.tooltipDataItem.dataContext.dataContext;
                    data['execution_percentage'] = data['execution_aggregated'] / data['budget_aggregated'];
                    return renderTemplate('#template-treemap-tooltip', data);
                });
            } else {
                bullet.locationX = 0.02;
                bullet.label.textAlign = 'left';
                bullet.label.dx = 0;
                bullet.label.dy = -14;
                bullet.label.horizontalCenter = 'left';
                bullet.label.verticalCenter = 'middle';
                bullet.label.text = "{name}";
                bullet.label.fill = am4core.color("#ffffff");
                bullet.interactionsEnabled = false;
            }

            // Tooltip
            columnTemplate.adapter.add('tooltipHTML', function(text, target) {
                var data = target.tooltipDataItem.dataContext.dataContext;
                data['execution_percentage'] = data['execution_aggregated'] / data['budget_aggregated'];
                return renderTemplate('#template-treemap-tooltip', data);
            });
            columnTemplate.tooltipY = am4core.percent(60);
            series_template.tooltip.getFillFromObject = false;
            series_template.tooltip.background.propertyFields.fill = "color_hover";
            series_template.tooltip.pointerOrientation = "vertical";
            series_template.tooltip.label.wrap = true;
            if(level == 2){
                series_template.tooltip.disabled = true;
            }
        }

        config_label(0);
        config_label(1);
        config_label(2);

        treemap.data = current_budget_data;
    }

    function plot_historical(data){
        var chart = am4core.create('historical-info', am4charts.XYChart)
        chart.colors.step = 2;
        chart.zoomOutButton.disabled = true;
        chart.numberFormatter.bigNumberPrefixes = [
            {"number": 1e+3, "suffix": "K"},
            {"number": 1e+6, "suffix": "Mi"},
            {"number": 1e+9, "suffix": "Bi"},
            {"number": 1e+12, "suffix": "Tri"},
            {"number": 1e+15, "suffix": "Qua"}
            /*{"number": 1e+18, "suffix": "E"},
            {"number": 1e+21, "suffix": "Z"},
            {"number": 1e+24, "suffix": "Y"}*/
        ]

        chart.paddingTop = 50;
        chart.legend = new am4charts.Legend();
        chart.legend.position = 'right';
        chart.legend.valign = 'bottom';
        chart.legend.paddingLeft = 150;
        chart.legend.paddingBottom = 30;
        chart.legend.labels.template.maxWidth = 95;
        chart.colors.list = [
            am4core.color("#0f69a3"),
            am4core.color("#98ccda"),
        ];

        var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
        xAxis.dataFields.category = 'year'
        xAxis.renderer.cellStartLocation = 0.1
        xAxis.renderer.cellEndLocation = 0.9
        xAxis.renderer.grid.template.disabled = true;

        var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
        yAxis.min = 0;
        yAxis.numberFormatter.numberFormat = "#. a";
        yAxis.renderer.grid.template.disabled = true;

        function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries())
            series.dataFields.valueY = value
            series.dataFields.categoryX = 'year'
            series.name = name
            //series.labels.template.wrap = false;

            // Tooltip
            series.columns.template.tooltipText = "[{categoryX}: bold]{valueY.formatNumber('#,###')}[/]";

            // Label
            var bullet = series.bullets.push(new am4charts.LabelBullet())
            bullet.interactionsEnabled = false;
            bullet.dy = -20;
            bullet.fontSize = 12;
            bullet.label.verticalCenter = 'top';
            bullet.label.text = "{valueY.formatNumber('#.# a')}"
            bullet.label.fill = am4core.color('#0f2843');
            //bullet.label.template.wrap = false;

            return series;
        }
        chart.data = data['data'];
        $('.historical-title').html("Despesas de<br>" + data['name']);
        createSeries('budget_aggregated', 'Dotação');
        createSeries('execution_aggregated', 'Execução');
    }

    function plot_datatable(data){
        var template_data = {
            'budget_account_label': budget_account_label_map[current_budget_account],
            'sub_budget_account_label': sub_budget_account_label_map[current_budget_account],
            'budget_accounts': data
        }
        renderTemplate('#template-budget_account-table', template_data, '#datatable-info');
    }

    function init_views(budget_data){
        current_budget_account_id = null;

        plot_treemap(budget_data);
        plot_budget_account_info();
        plot_datatable(budget_data);
        init_breadcrumb(true);
        get_historical_and_plot_view();
    }
    function get_budget_and_plot_views(budget_id, budget_account){
        if(budget_id != current_budget_id){
            get_budget_basic_info(budget_id, function (data) {
                $('.budget-currency').html(data['currency_display']);
            });
        }
        current_budget_account = budget_account;
        current_budget_id = budget_id;

        get_budget_data(budget_id, budget_account, function(data){
            current_budget_data = data;
            init_views(current_budget_data);

            inactive_budget_accounts_without_data();
        });
    }
    function inactive_budget_accounts_without_data(){
        // Inactive budget_accounts without data.
        $('.budget-account-selector a').removeClass('inactive').attr('title', "");
        var budget_data = budgets[current_budget_id];
        if(!budget_data['function_budget']){
            $('.budget-account-selector .function-budget').addClass('inactive').attr('title', "Dados funcionais não disponíveis");
            // Automatically calls other budget_account
            if(current_budget_account == 'functions' && budget_data['agency_budget']){
                toggle_budget_account('agencies');
            }
        }
        if(!budget_data['agency_budget']){
            $('.budget-account-selector .agency-budget').addClass('inactive').attr('title', "Dados orgânicos não disponíveis");
            // Automatically calls other budget_account
            if(current_budget_account == 'agencies' && budget_data['function_budget']){
                toggle_budget_account('functions');
            }
        }
    }
    function get_historical_and_plot_view(){
        get_historical_data(current_budget_id, current_budget_account, current_budget_account_id, function(data){
            plot_historical(data);
        });
    }
    function toggle_budget_account(budget_account){
        get_budget_and_plot_views(current_budget_id, budget_account);
        $('.budget-account-selector a').removeClass('active');
        $('.budget-account-selector a[data-budget_account="'+budget_account+'"]').addClass('active');
    }
    function toggle_budget(budget_id){
        get_budget_and_plot_views(budget_id, current_budget_account);
        $('.budget-selector a').removeClass('active');
        $('.budget-selector a[data-budget_id="'+budget_id+'"]').addClass('active');
    }
    function get_budget_year_by_id(budget_id){
        return $('.budget-selector a[data-budget_id="'+budget_id+'"]').html();
    }

    function toggle_datatable_row(category_id){
        $base_selector = $('.datatable-info');
        var $tr = $base_selector.find('[data-category_id="'+category_id+'"]');
        $tr.find('.arrow').toggle();
        $base_selector.find('.subcategory-of-' + category_id).toggle();
    }

    function select_datatable_row(category_id){
        $base_selector = $('.datatable-info');

        // Reset datatable to original state.
        $base_selector.find('.arrow-expanded').hide();
        $base_selector.find('.arrow-collapsed').show();
        $base_selector.find('.child-category').hide();
        $base_selector.find('tr').removeClass('highlight');

        var $tr = $base_selector.find('[data-category_id="'+category_id+'"]');
        var parent_id = category_id;
        if($tr.data('parent_id')){
            parent_id = $tr.data('parent_id');
        }
        var $children = $base_selector.find('.subcategory-of-' + parent_id);
        var $parent = $base_selector.find('[data-category_id="'+parent_id+'"]');

        $parent.find('.arrow').toggle();
        $parent.addClass('highlight');
        $tr.addClass('highlight');
        $children.show();
    }

    function go_to_category(category_id){
        current_budget_account_id = category_id;
        var data = null;

        // Get data from treemap.
        treemap.dataItems.each(function(dataItem){
            if(dataItem.dataContext.id == category_id){
                data = dataItem.dataContext;
                treemap.zoomToChartDataItem(dataItem);
                return;
            }
            dataItem.children.each(function(dataItemChildren){
                if(dataItemChildren.dataContext.id == category_id){
                    data = dataItemChildren.dataContext;
                    treemap.zoomToChartDataItem(dataItemChildren);
                    return;
                }
            });
        });
        if(!data)
            return;

        plot_budget_account_info(data);
        get_historical_and_plot_view();
        update_breadcrumb(data);
        select_datatable_row(category_id);
    }

    function get_category_name_by_id(category_id){
        $td = $('.datatable-info tr[data-category_id="'+category_id+'"]').find('.category-name');
        return $td.html();
    }

    $(document).ready(function () {
        // Binds
        $('.budget-account-selector a').on('click', function (ev) {
            ev.preventDefault();
            var budget_account = $(this).data('budget_account');
            toggle_budget_account(budget_account);
        });
        $('.budget-selector a').on('click', function (ev) {
            ev.preventDefault();
            var budget_id = $(this).data('budget_id');
            toggle_budget(budget_id);
        });
        $(document).on('click', '.breadcrumb-link', function(ev){
            ev.preventDefault();
            var breadcrumb_index = parseInt($(this).data('breadcrumb_idx'));
            if(breadcrumb_index <= 1){
                init_views(current_budget_data);
            } else {
                go_to_category(breadcrumb[breadcrumb_index].id);
                //breadcrumb[breadcrumb_index].event.target.dispatchImmediately('hit');
            }
        });
        $(document).on('click', '.datatable-info .expand-visualization', function(ev){
            var category_id = $(this).closest('tr').data('category_id');
            go_to_category(category_id);
        });
        $(document).on('click', '.datatable-info tr.parent-category .category-toggle', function(ev){
            var category_id = $(this).closest('tr').data('category_id');
            toggle_datatable_row(category_id, false);
        });
        $(document).on('click', '.visualization-selector a', function(ev){
            var selector = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(selector).offset().top
            }, 1000);
        })

        toggle_budget_account(current_budget_account)
    });

    </script>
{% endblock %}

{% block content %}
<div class="page-country-detail">
    {% with bg_name="bg_"|add:country.slug|add:".png" %}
    <div class="country-name-wrapper" style="background-image: url('{% static 'img/'|add:bg_name %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ country.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    <div class="flag-wrapper">
        <div class="row middle">
            <div class="col-2 mr-0">
                <img class="flag" src="{{ country.flag.url }}" alt="{{ country.slug }} flag" />
            </div>
            <div class="col-10">
                <h3>
                    <span class="arrow-right"></span>
                    DADOS ORÇAMENTÁRIOS
                </h3>
                <div class="header-currency">
                    Todos os valores em <strong class="budget-currency">{{ last_budget.get_currency_display }}</strong>
                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='treemap' hide_currency=True %}
    <div class="treemap-wrapper">
        <div class="row">
            <div class="col-3 budget_account-info-wrapper">
                <div id="budget_account-info"></div>
            </div>
            <div class="col-9 chart-wrapper">
                <div id="chart-treemap"></div>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='history' %}
    <div class="historical-wrapper">
        <h4 class="historical-title"></h4>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="historical-info"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='list' %}
    <div class="datatable-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="datatable-info"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="transparency-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2><span class="arrow"></span>TRANSPARÊNCIA</h2>
                    <div>
                        Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit, sed
                        diam nonummy nibh euismod
                        tincidunt ut la metodologia
                        aliquam erat consequat. Duis vel
                        eum iriure dolor in hendrerit in
                        vulputate velit esse molestie
                        consequat, vel illum dolore eu
                        feugiat nulla facilisis at vero nulla
                        facilisi autem vel eum.
                    </div>
                </div>
                <div class="col-5 img-wrapper">
                    <img src="{% static 'img/transparency.png' %}" alt="Transparency img" />
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>

</div>

{% verbatim %}
<script id="template-budget_account-info" type="text/x-handlebars-template">
<div class="budget_account-info">
    <div class="budget_account-info-box">
        <div class="label-wrapper">{{ label }}</div>
        <div class="name-wrapper">{{ name }}</div>
        <div class="aggregated-data">
            <table class="primary-info" cellspacing="0" cellpadding="0">
                <tr>
                    <td>Dotação inicial</td>
                    <td>{{formatCurrency initial_budget_aggregated}}</td>
                </tr>
                <tr>
                    <td>Dotação atualizada</td>
                    <td>{{formatCurrency budget_aggregated}}</td>
                </tr>
                <tr class="execution-aggregated">
                    <td>Execução</td>
                    <td>
                        {{#if execution_aggregated}}
                            {{formatCurrency execution_aggregated}}
                        {{else}}
                            {% endverbatim %}Não informada{% verbatim %}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="treemap-legend-table execution-group-{{ execution_group }}">
                <tr class="group-1">
                    <td>20%</td>
                    <td><div class="treemap-legend">&nbsp;</div></td>
                    <td><div class="execution-group-indicator"></div></td>
                    <td><div class="execution-percentage">{{formatPercent execution_percentage}} executado</div></td>
                </tr>
                <tr class="group-2">
                    <td>40%</td>
                    <td><div class="treemap-legend">&nbsp;</div></td>
                    <td><div class="execution-group-indicator"></div></td>
                    <td><div class="execution-percentage">{{formatPercent execution_percentage}} executado</div></td>
                </tr>
                <tr class="group-3">
                    <td>60%</td>
                    <td><div class="treemap-legend">&nbsp;</div></td>
                    <td><div class="execution-group-indicator"></div></td>
                    <td><div class="execution-percentage">{{formatPercent execution_percentage}} executado</div></td>
                </tr>
                <tr class="group-4">
                    <td>80%</td>
                    <td><div class="treemap-legend">&nbsp;</div></td>
                    <td><div class="execution-group-indicator"></div></td>
                    <td><div class="execution-percentage">{{formatPercent execution_percentage}} executado</div></td>
                </tr>
                <tr class="group-5">
                    <td>100%</td>
                    <td><div class="treemap-legend">&nbsp;</div></td>
                    <td><div class="execution-group-indicator"></div></td>
                    <td><div class="execution-percentage">{{formatPercent execution_percentage}} executado</div></td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="mt-0">
    <div class="budget_account-info-box secondary-info-wrapper">
        <div>
            DADOS SECUNDÁRIOS <span class="arrow-down"></span>
        </div>
    </div>
    <div class="budget_account-info-box">
        <table class="secondary-info">
            <tr>
                <td colspan="2" class="info-title">Em Investimento</td>
            </tr>
            <tr>
                <td>Dotação</td>
                <td>{{formatCurrency budget_investment}}</td>
            </tr>
            <tr>
                <td>Execução</td>
                <td>{{formatCurrency execution_investment}}</td>
            </tr>
            <tr>
                <td colspan="2" class="info-title">Em Funcionamento</td>
            </tr>
            <tr>
                <td>Dotação</td>
                <td>{{formatCurrency budget_operation}}</td>
            </tr>
            <tr>
                <td>Execução</td>
                <td>{{formatCurrency execution_operation}}</td>
            </tr>
        </table>
    </div>
</div>
</script>

<script id="template-budget_account-table" type="text/x-handlebars-template">
<table class="datatable-info" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>{{ budget_account_label }} / {{ sub_budget_account_label }}</th>
            <th class="vertical-separator"></th>
            <th>Dotação</th>
            <th>Execução</th>
            <th>%</th>
            <th>Dotação de investimento</th>
            <th>Execução de investimento</th>
            <th>Dotação de funcionamento</th>
            <th>Execução de funcionamento</th>
            <th></th>
        </tr>
        <tr>
            <td class="separator" colspan="10"></td>
        </tr>
    </thead>
    <tbody>
        {{#each budget_accounts}}
        <tr data-category_id="{{ id }}" class="parent-category">
            <td class="category-toggle">
                <span class="material-icons arrow arrow-collapsed">keyboard_arrow_right</span>
                <span class="material-icons arrow arrow-expanded" style="display: none;">keyboard_arrow_down</span>
                <span class="category-name">{{ name }}</span>
            </td>
            <td class="vertical-separator"></td>
            <td>{{formatCurrency budget_aggregated}}</td>
            <td>{{formatCurrency execution_aggregated}}</td>
            <td>{{formatPercent execution_percentage}}</td>
            <td>{{formatCurrency budget_investment}}</td>
            <td>{{formatCurrency execution_investment}}</td>
            <td>{{formatCurrency budget_operation}}</td>
            <td>{{formatCurrency execution_operation}}</td>
            <td><span class="expand-visualization material-icons" title="Expandir para todas visualizações">open_in_full</span></td>
        </tr>
            {{#each children}}
            <tr class="child-category subcategory-of-{{ parent_id }}" data-parent_id="{{ parent_id }}" data-category_id="{{ id }}" style="display: none;">
                <td style="padding-left: 40px;">
                    <span class="category-name">{{ name }}</span>
                </td>
                <td class="vertical-separator"></td>
                <td>{{formatCurrency budget_aggregated}}</td>
                <td>{{formatCurrency execution_aggregated}}</td>
                <td>{{formatPercent execution_percentage}}</td>
                <td>{{formatCurrency budget_investment}}</td>
                <td>{{formatCurrency execution_investment}}</td>
                <td>{{formatCurrency budget_operation}}</td>
                <td>{{formatCurrency execution_operation}}</td>
                <td><span class="expand-visualization material-icons" title="Expandir para todas visualizações">open_in_full</span></td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>
</script>

<script id="template-breadcrumb" type="text/x-handlebars-template">
{{#each data}}
    <a href="#" class="breadcrumb-link" data-breadcrumb_idx="{{@index}}">{{ name }}</a>
    <span class="arrow-right"></span>
{{/each}}
</script>

<script id="template-treemap-tooltip" type="text/x-handlebars-template">
<div class="treemap-tooltip">
    <h5>{{ name }}</h5>
    <table>
        <tr>
            <td>Dotação</td>
            <td>{{formatCurrency budget_aggregated}}</td>
        </tr>
        {{#if budget_investment}}
        <tr class="secondary-info">
            <td>de investimento</td>
            <td>{{formatCurrency budget_investment}}</td>
        </tr>
        {{/if}}
        {{#if budget_operation}}
        <tr class="secondary-info">
            <td>de operação</td>
            <td>{{formatCurrency budget_operation}}</td>
        </tr>
        {{/if}}
        <tr>
            <td>Execução</td>
            {{#if execution_aggregated}}
            <td>
                {{formatCurrency execution_aggregated}}
                <span class="execution_percent">({{formatPercent execution_percentage}})</span>
            </td>
            {{else}}
            <td class="no-value">Não informada</td>
            {{/if}}
        </tr>
        {{#if execution_investment}}
        <tr class="secondary-info">
            <td>de investimento</td>
            <td>{{formatCurrency execution_investment}}</td>
        </tr>
        {{/if}}
        {{#if execution_operation}}
        <tr class="secondary-info">
            <td>de operação</td>
            <td>{{formatCurrency execution_operation}}</td>
        </tr>
        {{/if}}
    </table>
</div>
</script>
{% endverbatim %}



{% endblock %}