{% extends 'frontend/base.html' %}
{% load static %}

{% block extrahead %}
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript">
    var MEDIA_URL = '{% get_media_prefix %}';
    var treemap;
    var series_templates = [];
    var last_budget_id = {{ last_budget.id }};
    var current_budget_id = last_budget_id;
    var current_budget_account = '{{ default_budget_account }}';
    var current_budget_account_id = null;
    var current_group = '{{ default_group }}';
    var current_budget_data = null;
    var budgets = {{ budgets_serialized|safe }};
    var skip_cache = {% if request.GET.no_cache %}true{% else %}false{% endif %};
    var breadcrumb = [
        {'name': "Visualização por Função", 'id': null},
        {'name': {{ last_budget.year }}, 'id': null},
    ];
    var budget_account_label_map = {
        'expenses': "Despesas",
        'revenues': "Receitas",
    }
    var group_label_map = {
        'organic': "Órgão",
        'functional': "Função",
        'nature': "Natureza",
        'source': "Fonte",
    }
    var sub_group_label_map = {
        'organic': "Unidade Orçamentária",
        'functional': "Sub-função",
        'nature': "Especificação",
        'source': "Fonte (sub)",
    }
    am4core.useTheme(am4themes_animated);

    function loading(show=true, wrapper_selector=null){
        var $loading_wrap = $('.loading');
        if(wrapper_selector){
            $loading_wrap = $(wrapper_selector).find('.loading');
        }
        if(show){
            $loading_wrap.fadeIn();
        } else {
            $loading_wrap.fadeOut();
        }
    }

    function get_group_label(level, group){
        var label_map = group_label_map
        if(level == 1){
            label_map = sub_group_label_map;
        }
        return label_map[group];
    }
    function get_budget_basic_info(budget_id, callback){
        var url = url = '/api/budgets/' + budget_id + '/';
        $.get(url, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching budget basic info.");
        });
    }
    function get_budget_data(budget_id, budget_account, group, callback){
        var url = MEDIA_URL + 'budgets/{{ country.slug }}_' + budget_account + '_' + group + '_' + get_budget_year_by_id(budget_id) + '.json'
        if(skip_cache){
            // If skip_cache, retrieve data from api.
            url = '/api/budgets/' + budget_id + '/' + budget_account + '/?group=' + group;
        }

        $.get(url, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching budget data.");
        });
    }
    function get_historical_data(budget_id, budget_account, budget_account_id, group, callback){
        var params = {
            group: group,
            budget_account: budget_account,
            budget_account_id: budget_account_id
        }
        var url = '/api/budgets/' + budget_id + '/historical/';
        $.get(url, params, function (data) {
            callback(data);
        }).fail(function () {
            console.log("Error on fetching historical data.");
        });
    }
    function get_budget_account_aggregated_data(budget_data){
        var aggregated_data = $.extend(true, {}, budget_data[0]);
        var fields = ['budget_aggregated', 'budget_investment', 'budget_operation', 'execution_aggregated',
            'execution_investment', 'execution_operation', 'initial_budget_aggregated', 'initial_budget_investment',
            'initial_budget_operation'];
        aggregated_data['label'] = "Orçamento " + get_budget_year_by_id(current_budget_id);
        aggregated_data['name'] = "{{ country.name }}";
        aggregated_data['id'] = null;
        for(var i = 1; i < budget_data.length; i++){
            fields.forEach(function(item, index){
                var new_value = budget_data[i][item];
                if(!new_value){
                    return;
                }
                if(!aggregated_data[item]){
                    aggregated_data[item] = 0
                }
                aggregated_data[item] += new_value;
            });
        }
        return aggregated_data;
    }

    function plot_budget_account_info(data){
        if(data === undefined || !(data)){
            data = get_budget_account_aggregated_data(current_budget_data);
        } else {
            // Get label on front to prevent caching i18n labels.
            data['label'] = get_group_label(data['level'], current_group);
        }
        current_budget_account_id = data['id'];

        var execution_group = 0;
        var execution_percentage = 0;
        var not_informed_text = "Execução não informada";
        if(!data['has_budget']){
            not_informed_text = "Sem dotação aprovada";
        } else if(data['execution_aggregated']){
            var execution_percentage = data['execution_aggregated'] / data['budget_aggregated'];
            if(0 < execution_percentage && execution_percentage <= 0.2)
                execution_group = 1;
            else if(0.2 < execution_percentage && execution_percentage <= 0.4)
                execution_group = 2;
            else if(0.4 < execution_percentage && execution_percentage <= 0.6)
                execution_group = 3;
            else if(0.6 < execution_percentage && execution_percentage <= 0.8)
                execution_group = 4;
            else if(0.8 < execution_percentage)
                execution_group = 5;
        }
        data['not_informed_text'] = not_informed_text;
        data['execution_percentage'] = execution_percentage;
        data['execution_group'] = execution_group;
        data['budget_account_label'] = budget_account_label_map[current_budget_account];

        renderTemplate('#template-budget_account-info', data, '#budget_account-info');
    }

    function plot_breadcrumb(){
        renderTemplate('#template-breadcrumb', {data: breadcrumb}, '.breadcrumb-wrapper');
    }
    function init_breadcrumb(plot=false){
        breadcrumb = []
        breadcrumb.push({name: budget_account_label_map[current_budget_account], id: null});
        breadcrumb.push({name: "Por " + group_label_map[current_group], id: null});
        breadcrumb.push({name: get_budget_year_by_id(current_budget_id), id: null});
        if(plot){
            plot_breadcrumb();
        }
    }
    function update_breadcrumb(data=null){
        if(data){
            init_breadcrumb();
            if(data['level'] == 0){
                breadcrumb.push({name: data['name'], id: data['id']})
            } else {
                var parent_name = get_category_name_by_id(data['parent_id']);
                breadcrumb.push({name: parent_name, id: data['parent_id']});
                breadcrumb.push({name: data['name'], id: data['id']});
            }
        }
        plot_breadcrumb();
    }

    function plot_treemap(data){
        treemap = am4core.create("chart-treemap", am4charts.TreeMap);

        /* Define data fields */
        treemap.dataFields.value = "budget_aggregated";
        treemap.dataFields.name = "name";
        treemap.dataFields.children = "children";
        treemap.dataFields.color = "color";
        treemap.zoomOutButton.disabled = true;
        treemap.marginLeft = 0;
        treemap.marginRight = 0;
        treemap.maxLevels = 1;
        treemap.homeText = "Visualização por " + budget_account_label_map[current_budget_account];
        //treemap.layoutAlgorithm = treemap.slice;

        // Labels & tooltips
        var level_columns = []; var bullets = [];
        function config_label(level){
            var series_template = treemap.seriesTemplates.create(level);
            series_templates[level] = series_template;

            var columnTemplate = series_templates[level].columns.template;
            var hoverState = columnTemplate.states.create("hover");

            // Hover
            hoverState.adapter.add("fill", function (fill, target) {
                var data = target.sprite.dataItem.dataContext._dataContext;
                var hover_color = data.color_hover;
                if (fill instanceof am4core.Color) {
                    return am4core.color(hover_color);
                }
                return fill;
            })

            columnTemplate.events.on("hit", function(ev) {
                var data = ev.target.dataItem.dataContext._dataContext;  // data: api.BudgetAccountSerializer
                go_to_category(data['id']);
            }, this);

            // Label
            var bullet = series_templates[level].bullets.push(new am4charts.LabelBullet());
            bullet.label.fill = am4core.color("#ffffff");
            if(level == 2){
                bullet.locationX = 0.5;
                bullet.locationY = 0.5;
                bullet.label.adapter.add("html", function(html, target) {
                    var data = target.tooltipDataItem.dataContext.dataContext;
                    data['execution_percentage'] = data['execution_aggregated'] / data['budget_aggregated'];
                    return renderTemplate('#template-treemap-tooltip', data);
                });
                bullet.label.wrap = true;
            } else {
                bullet.interactionsEnabled = false;
                bullet.locationX = 0.02;
                bullet.label.textAlign = 'left';
                bullet.label.dx = 0;
                bullet.label.dy = -14;
                bullet.label.horizontalCenter = 'left';
                bullet.label.verticalCenter = 'middle';
                bullet.label.text = "{name}";
                bullet.label.fill = am4core.color("#ffffff");
            }

            // Tooltip
            columnTemplate.adapter.add('tooltipHTML', function(text, target) {
                var data = target.tooltipDataItem.dataContext.dataContext;
                data['execution_percentage'] = data['execution_aggregated'] / data['budget_aggregated'];
                return renderTemplate('#template-treemap-tooltip', data);
            });
            columnTemplate.tooltipY = am4core.percent(60);
            series_template.tooltip.getFillFromObject = false;
            series_template.tooltip.background.propertyFields.fill = "color_hover";
            series_template.tooltip.pointerOrientation = "vertical";
            series_template.tooltip.label.wrap = true;
            if(level == 2){
                series_template.tooltip.disabled = true;
            }
        }

        config_label(0);
        config_label(1);
        config_label(2);

        treemap.data = current_budget_data;
    }

    function plot_historical(data){
        var chart = am4core.create('historical-info', am4charts.XYChart);
        chart.zoomOutButton.disabled = true;
        chart.numberFormatter.bigNumberPrefixes = [
            {"number": 1e+3, "suffix": "K"},
            {"number": 1e+6, "suffix": "Mi"},
            {"number": 1e+9, "suffix": "Bi"},
            {"number": 1e+12, "suffix": "Tri"},
            {"number": 1e+15, "suffix": "Qua"}
            /*{"number": 1e+18, "suffix": "E"},
            {"number": 1e+21, "suffix": "Z"},
            {"number": 1e+24, "suffix": "Y"}*/
        ]

        chart.paddingTop = 50;
        chart.maskBullets = false;  // allow bullets to go out of plot area
        chart.colors.step = 2;
        chart.colors.list = [
            am4core.color("#0f69a3"),
            am4core.color("#98ccda"),
        ];

        // Legend
        chart.legend = new am4charts.Legend();
        chart.legend.position = 'right';
        chart.legend.valign = 'bottom';
        chart.legend.paddingLeft = 150;
        chart.legend.paddingBottom = 30;
        chart.legend.labels.template.maxWidth = 95;

        var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
        xAxis.dataFields.category = 'year'
        xAxis.renderer.cellStartLocation = 0.1
        xAxis.renderer.cellEndLocation = 0.9
        xAxis.renderer.grid.template.disabled = true;

        var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
        yAxis.min = 0;
        yAxis.numberFormatter.numberFormat = "#. a";
        yAxis.renderer.grid.template.disabled = true;

        function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries())
            series.dataFields.valueY = value
            series.dataFields.categoryX = 'year'
            series.name = name

            // Tooltip
            series.columns.template.tooltipText = "[{categoryX}: bold]{valueY.formatNumber('#,###')}[/]";

            // Label
            var bullet = series.bullets.push(new am4charts.LabelBullet());
            bullet.interactionsEnabled = false;
            bullet.dy = -20;
            bullet.fontSize = 12;
            bullet.label.verticalCenter = 'top';
            bullet.label.text = "{valueY.formatNumber('#.# a')}";
            bullet.label.fill = am4core.color('#0f2843');
            bullet.label.truncate = false;

            return series;
        }
        chart.data = data['data'];
        budget_account_label = get_current_budget_account_label();
        $('.historical-title').html(budget_account_label + " de<br>" + data['name']);
        createSeries('budget_aggregated', 'Dotação');
        createSeries('execution_aggregated', 'Execução');
    }

    function plot_datatable(data){
        var template_data = {
            'group_label': group_label_map[current_group],
            'sub_group_label': sub_group_label_map[current_group],
            'budget_accounts': data
        }
        renderTemplate('#template-budget_account-table', template_data, '#datatable-info');
    }

    function init_views(budget_data){
        current_budget_account_id = null;

        init_breadcrumb(true);
        plot_treemap(budget_data);
        plot_budget_account_info();
        loading(false, '.treemap-wrapper');
        plot_datatable(budget_data);
        loading(false, '.datatable-wrapper');
        get_historical_and_plot_view();
        loading(false, '.historical-wrapper');
    }
    function get_budget_and_plot_views(budget_id, budget_account, group){
        loading(true);

        get_budget_basic_info(budget_id, function (data) {
            $('.budget-currency').html(data['currency_display']);
            $('.download-link').attr('href', data['output_file']);
        });
        current_budget_account = budget_account;
        current_budget_id = budget_id;
        current_group = group;

        $('.budget-account-selector a').removeClass('active');
        $('.budget-account-selector a[data-budget_account="'+budget_account+'"]').addClass('active');
        $('.group-selector a').hide();
        $('.group-selector .'+ budget_account +'-group').show();
        $('.budget-selector a').removeClass('active');
        $('.budget-selector a[data-budget_id="'+budget_id+'"]').addClass('active');
        $('.group-selector a').removeClass('active');
        $('.group-selector a[data-group="'+group+'"]').addClass('active');

        get_budget_data(budget_id, budget_account, group, function(data){
            current_budget_data = data;
            init_views(current_budget_data);
            inactive_budget_accounts_without_data();
        });
    }
    function inactive_budget_accounts_without_data(){
        // Inactive budget_accounts and groups without data and toggle closest with data.
        $('.group-selector a').removeClass('inactive').attr('title', "");
        $('.budget-account-selector a').removeClass('inactive').attr('title', "");
        var budget_data = budgets[current_budget_id];
        var budget_account_map = {
            'expenses': {
                msg: "Dados de despesas não disponíveis neste ano",
                sibling: 'revenues',
                groups: {
                    'functional': {
                        msg: "Dados funcionais não disponíveis",
                        sibling: 'organic'
                    },
                    'organic': {
                        msg: "Dados orgânicos não disponíveis",
                        sibling: 'functional'
                    }
                }
            },
            'revenues': {
                msg: "Dados de receitas não disponíveis neste ano",
                sibling: 'expenses',
                groups: {
                    'nature': {
                        msg: "Dados por natureza não disponíveis",
                        sibling: 'source'
                    },
                    'source': {
                        msg: "Dados por fonte não disponíveis",
                        sibling: 'nature'
                    }
                }
            }
        }
        Object.entries(budget_account_map).forEach(([budget_account, ba_values]) => {
            if(!budget_data['available_budget_accounts'].includes(budget_account)){
                $('.budget-account-selector [data-budget_account="'+budget_account+'"]').addClass('inactive').attr('title', ba_values['msg']);
                if(current_budget_account == budget_account){
                    toggle_budget_account(ba_values.sibling);
                    return;
                }
            }
            Object.entries(ba_values.groups).forEach(([group, group_values]) => {
                if(!budget_data['available_groups'].includes(group)){
                    $('.group-selector [data-group="'+group+'"]').addClass('inactive').attr('title', group_values['msg']);
                    if(current_group == group){
                        toggle_group(group_values.sibling);
                        return;
                    }
                }
            });
        });
    }
    function get_historical_and_plot_view(){
        get_historical_data(current_budget_id, current_budget_account, current_budget_account_id, current_group, function(data){
            plot_historical(data);
        });
    }
    function get_budget_account_default_group(budget_account){
        var map = {
            'expenses': 'functional',
            'revenues': 'nature'
        }
        return map[budget_account]
    }
    function toggle_budget_account(budget_account){
        var group = get_budget_account_default_group(budget_account)
        get_budget_and_plot_views(current_budget_id, budget_account, group);
    }
    function toggle_budget(budget_id){
        get_budget_and_plot_views(budget_id, current_budget_account, current_group);
    }
    function toggle_group(group){
        get_budget_and_plot_views(current_budget_id, current_budget_account, group);
    }
    function get_budget_year_by_id(budget_id){
        return $('.budget-selector a[data-budget_id="'+budget_id+'"]').html();
    }
    function get_current_budget_account_label(){
        return budget_account_label_map[current_budget_account]
    }

    function toggle_datatable_row(category_id){
        $base_selector = $('.datatable-info');
        var $tr = $base_selector.find('[data-category_id="'+category_id+'"]');
        $tr.find('.arrow:not(".no-children")').toggle();
        $base_selector.find('.subcategory-of-' + category_id).toggle();
    }

    function select_datatable_row(category_id){
        $base_selector = $('.datatable-info');

        // Reset datatable to original state.
        $base_selector.find('.arrow-expanded').hide();
        $base_selector.find('.arrow-collapsed').show();
        $base_selector.find('.child-category').hide();
        $base_selector.find('tr').removeClass('highlight');

        var $tr = $base_selector.find('[data-category_id="'+category_id+'"]');
        var parent_id = category_id;
        if($tr.data('parent_id')){
            parent_id = $tr.data('parent_id');
        }
        var $children = $base_selector.find('.subcategory-of-' + parent_id);
        var $parent = $base_selector.find('[data-category_id="'+parent_id+'"]');

        $parent.find('.arrow:not(".no-children")').toggle();
        $parent.addClass('highlight');
        $tr.addClass('highlight');
        $children.show();
    }

    function go_to_category(category_id){
        current_budget_account_id = category_id;
        var data = null;

        // Get data from treemap.
        treemap.dataItems.each(function(dataItem){
            if(dataItem.dataContext.id == category_id){
                data = dataItem.dataContext;
                treemap.zoomToChartDataItem(dataItem);
                return;
            }
            dataItem.children.each(function(dataItemChildren){
                if(dataItemChildren.dataContext.id == category_id){
                    data = dataItemChildren.dataContext;
                    treemap.zoomToChartDataItem(dataItemChildren);
                    return;
                }
            });
        });
        if(!data)
            return;

        plot_budget_account_info(data);
        get_historical_and_plot_view();
        update_breadcrumb(data);
        select_datatable_row(category_id);
    }

    function get_category_name_by_id(category_id){
        $td = $('.datatable-info tr[data-category_id="'+category_id+'"]').find('.category-name');
        return $td.html();
    }

    function start_tutorial(){
        introJs().setOptions({
            nextLabel: 'Próximo',
            prevLabel: 'Anterior',
            doneLabel: 'Pronto',
            hidePrev: true,
            tooltipClass: 'customIntro',
            showProgress: true,
            showBullets: false,
            steps: [{
                element: document.querySelector('.visualization-selector'),
                title: 'Visualizações',
                position: 'left',
                intro: 'Todas as visualizações desta plataforma são interligadas. É possivel navegar no orçamento pelas seguintes visualizações: ' +
                    '<ul><li>Treemap</li><li>Série histórica</li><li>Tabela</li>'
            },
            {
                element: document.querySelector('#chart-treemap'),
                title: "Treemap",
                position: 'left',
                intro: 'O volume total do orçamento ' +
                    'do país em determinado ano está representado no espaço total retangular do gráfico, que por sua vez, é composto ' +
                    'por retângulos menores. O tamanho deles varia de acordo com o volume de recursos autorizados. Dotação ' +
                    'autorizada é aquela reservada no orçamento anual para uma finalidade específica. Esta dotação pode ser revista - ' +
                    'para um valor maior ou menor ao longo do ano - neste caso, a nomenclatura utilizada é dotação atualizada. A ' +
                    'autorização não garante que a despesa ocorra. Por isso, monitora-se também a despesa paga.'
            },
            {
                element: document.querySelector('.treemap-legend-table'),
                position: 'left',
                title: "Execução",
                intro: 'Para indicar no ' +
                    'gráfico o nível de execução (o quanto da dotação foi de fato gasto: Valor Pago do Item/ Dotação Autorizada para ' +
                    'o Item) utilizou-se uma régua de 5 cores que indica os seguintes percentuais de execução: ' +
                    '(0% - 20%; 20% - 40%, 40% - 60%, 60% - 80% e + de 80%).'
            },
            {
                element: document.querySelector('#chart-treemap'),
                position: 'left',
                title: "Dados no treemap",
                intro: 'Ao <b>passar o cursor sobre os retângulos</b>, surgirão balões informativos, especificando os números absolutos da ' +
                    'dotação e do valor pago. Alguns países informam o quanto da dotação é relativa ao orçamento para ' +
                    'funcionamento do governo e o quanto é relativo ao orçamento de investimentos. Se disponíveis, estes valores ' +
                    'serão apresentados nos balões informativos e no card "Dados Secundários", à esquerda do treemap.'
            },
            {
                element: document.querySelector('.budget-account-expenses'),
                //position: 'bottom',
                title: "Despesas",
                intro: 'As despesas podem ser visualizadas por dois grupos de classificação: Função (temas de governo, como saúde e ' +
                    'educação) e Órgão (como Ministérios, por exemplo). Se selecionada a visualização por órgão, os retângulos ' +
                    'representarão os órgãos administrativos principais. Cada um deles pode ser detalhado em unidades orçamentais ' +
                    'com um clique na área do gráfico. Na visualização por Função, o segundo nível de informação serão as subfunções. '
            },
            {
                element: document.querySelector('.budget-account-revenues'),
                position: 'bottom',
                title: "Receitas",
                intro: 'As receitas estão disponíveis por natureza económica. Esta classificação indica o acontecimento real que ' +
                    'ocasionou a entrada do recurso nos cofres públicos. Assim como na parte de despesas, os dados estão ' +
                    'estruturados em 2 níveis hierárquicos: a origem, que é uma agregação mais geral (impostos ou taxas, por ' +
                    'exemplo), e a espécie/desdobramentos, com dados mais detalhados (seguindo o exemplo, especificação do ' +
                    'imposto ou da taxa).'
            },
            {
                element: document.querySelector('.budget-selector'),
                //position: 'bottom',
                title: "Anos",
                intro: 'Estão disponíveis ' +
                    'dados desde 2016 na plataforma. ' +
                    'Vale lembrar que estas informações só estarão disponíveis se os países as tiverem disponibilizado ' +
                    'publicamente. Então, caso a seleção de determinada classificação, ou ano, não estiver selecionável, é porque, ' +
                    'infelizmente, o dado não foi publicado pelo governo.'
            },
            {
                element: document.querySelector('#historical-info'),
                //position: 'bottom',
                scrollTo: 'tooltip',
                title: "Série histórica",
                intro: 'A segunda visualização é a série histórica. Ela apresenta a evolução no montante da dotação e dos valores pagos ' +
                    'desde 2016. A série é responsiva às seleções feitas no treemap. Assim, é possível analisar rapidamente o histórico ' +
                    'de cada uma das rubricas listadas na plataforma.'
            },
            {
                element: document.querySelector('#datatable-info'),
                title: "Tabela",
                //position: 'bottom',
                scrollTo: 'tooltip',
                intro: 'A última visualização é uma tabela que resume todas as informações contidas no treemap. É possível detalhar ' +
                    'as informações de determinada rubrica, ao clicar na linha referente.'
            },
            {
                element: document.querySelector('.expand-visualization'),
                //position: 'bottom',
                title: "Atualizar visualizações",
                intro: 'É possível também atualizar toda a plataforma ' +
                    'para apresentar os dados referentes à rubrica selecionada na tabela.'
            },
            {
                element: document.querySelector('.download-link'),
                //position: 'bottom',
                title: "CSV",
                intro: 'Todos os dados estão disponíveis para download em formato .csv.'
            }]
        }).start();
    }

    $(document).ready(function () {
        // Binds
        $('.budget-account-selector-row a').on('click', function (ev) {
            ev.preventDefault();
        });
        $(document).on('click', '.budget-account-selector a:not(".inactive")', function (ev) {
            ev.preventDefault();
            var budget_account = $(this).data('budget_account');
            toggle_budget_account(budget_account);
        });
        $(document).on('click', '.group-selector a:not(".inactive")', function (ev) {
            ev.preventDefault();
            var group = $(this).data('group');
            toggle_group(group);
        });
        $(document).on('click', '.budget-selector a:not(".inactive")', function (ev) {
            ev.preventDefault();
            var budget_id = $(this).data('budget_id');
            toggle_budget(budget_id);
        });

        $(document).on('click', '.breadcrumb-link', function(ev){
            ev.preventDefault();
            var breadcrumb_index = parseInt($(this).data('breadcrumb_idx'));
            if(breadcrumb_index <= 2){
                init_views(current_budget_data);
            } else {
                go_to_category(breadcrumb[breadcrumb_index].id);
                //breadcrumb[breadcrumb_index].event.target.dispatchImmediately('hit');
            }
        });
        $(document).on('click', '.datatable-info .expand-visualization', function(ev){
            var category_id = $(this).closest('tr').data('category_id');
            go_to_category(category_id);
        });
        $(document).on('click', '.datatable-info tr.parent-category .category-toggle', function(ev){
            var category_id = $(this).closest('tr').data('category_id');
            toggle_datatable_row(category_id, false);
        });
        $(document).on('click', '.visualization-selector a', function(ev){
            var selector = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(selector).offset().top
            }, 1000);
        });
        $(document).on('click', '.tutorial', function(ev){
            ev.preventDefault();
            start_tutorial();
        })

        toggle_budget_account(current_budget_account)
    });

    </script>
{% endblock %}

{% block content %}
<div class="page-country-detail">
    {% with bg_name="bg_"|add:country.slug|add:".png" %}
    <div class="country-name-wrapper" style="background-image: url('{% static 'img/'|add:bg_name %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ country.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    <div class="flag-wrapper">
        <div class="row middle">
            <div class="col-2 mr-0">
                <img class="flag" src="{{ country.flag.url }}" alt="{{ country.slug }} flag" />
            </div>
            <div class="col-6">
                <h3>
                    <span class="arrow-right"></span>
                    DADOS ORÇAMENTAIS
                </h3>
                <div class="header-currency">
                    Todos os valores em <strong class="budget-currency">{{ last_budget.get_currency_display }}</strong>
                </div>
            </div>
            <div class="col-3 right">
                <a href="#" class="tutorial">APRENDA A NAVEGAR</a>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='treemap' hide_currency=True %}
    <div class="treemap-wrapper viz-wrapper">
        <div class="loading">Carregando dados<br><img src="{% static 'img/loading-front.gif' %}" /></div>
        <div class="row">
            <div class="col-3 budget_account-info-wrapper">
                <div id="budget_account-info"></div>
            </div>
            <div class="col-9 chart-wrapper">
                <div id="chart-treemap"></div>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='history' %}
    <div class="historical-wrapper viz-wrapper">
        <div class="loading">Carregando dados<br><img src="{% static 'img/loading-front.gif' %}" /></div>
        <h4 class="historical-title"></h4>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="historical-info"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/budget-selector.component.html' with visualization='list' show_export=True %}
    <div class="datatable-wrapper viz-wrapper">
        <div class="loading">Carregando dados<br><img src="{% static 'img/loading-front.gif' %}" /></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="datatable-info"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="transparency-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2><span class="arrow"></span>TRANSPARÊNCIA</h2>
                    <div>
                        Nossa missão é ampliar a transparência dos PALOP-TL
                        aplicando tecnologia e inovação para derrubar barreiras
                        e incluir mais cidadãos no debate público _
                        <br></br>
                        Nós encorajamos o uso das informações disponibilizadas
                        em outros projetos e estudos _
                    </div>
                </div>
                <div class="col-5 img-wrapper">
                    <img src="{% static 'img/transparency.png' %}" alt="Transparency img" />
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>

</div>

{% verbatim %}
<script id="template-budget_account-info" type="text/x-handlebars-template">
<div class="budget_account-info">
    <div class="budget_account-info-box">
        <div class="label-wrapper">{{ label }}</div>
        <div class="name-wrapper">{{ name }}</div>
        <div class="aggregated-data">
            <table class="primary-info" cellspacing="0" cellpadding="0">
                <tr>
                    <td>Dotação inicial</td>
                    <td class="money-display">
                        {{#if has_budget}}
                            {{formatCurrency initial_budget_aggregated}}
                        {{else}}
                            {% endverbatim %}Não informada{% verbatim %}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Dotação atualizada</td>
                    <td class="money-display">
                        {{#if has_budget}}
                            {{formatCurrency budget_aggregated}}
                        {{else}}
                            {% endverbatim %}Não informada{% verbatim %}
                        {{/if}}
                    </td>
                </tr>
                <tr class="execution-aggregated">
                    <td>Execução</td>
                    <td class="money-display">
                        {{#if execution_aggregated}}
                            {{formatCurrency execution_aggregated}}
                        {{else}}
                            {% endverbatim %}Não informada{% verbatim %}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="treemap-legend-table execution-group-{{ execution_group }}">
                <tr class="legend-square">
                    <td class="group-0"><div class="treemap-legend">&nbsp;</div></td>
                    <td class="group-1"><div class="treemap-legend">&nbsp;</div></td>
                    <td class="group-2"><div class="treemap-legend">&nbsp;</div></td>
                    <td class="group-3"><div class="treemap-legend">&nbsp;</div></td>
                    <td class="group-4"><div class="treemap-legend">&nbsp;</div></td>
                    <td class="group-5"><div class="treemap-legend">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="group-0">N/A</td>
                    <td class="group-1">0-20%</td>
                    <td class="group-2">20-40%</td>
                    <td class="group-3">40-60%</td>
                    <td class="group-4">60-80%</td>
                    <td class="group-5">+ de 80%</td>
                </tr>
                <tr>
                    <td class="group-0"><div class="execution-group-indicator"></div></td>
                    <td class="group-1"><div class="execution-group-indicator"></div></td>
                    <td class="group-2"><div class="execution-group-indicator"></div></td>
                    <td class="group-3"><div class="execution-group-indicator"></div></td>
                    <td class="group-4"><div class="execution-group-indicator"></div></td>
                    <td class="group-5"><div class="execution-group-indicator"></div></td>
                </tr>
                <tr>
                    <td class="group-0"><div class="execution-percentage">{{ not_informed_text }}</div></td>
                    <td class="group-1"><div class="execution-percentage"><strong>{{formatPercent execution_percentage}}</strong><br>executado</div></td>
                    <td class="group-2"><div class="execution-percentage"><strong>{{formatPercent execution_percentage}}</strong><br>executado</div></td>
                    <td class="group-3"><div class="execution-percentage"><strong>{{formatPercent execution_percentage}}</strong><br>executado</div></td>
                    <td class="group-4"><div class="execution-percentage"><strong>{{formatPercent execution_percentage}}</strong><br>executado</div></td>
                    <td class="group-5"><div class="execution-percentage"><strong>{{formatPercent execution_percentage}}</strong><br>executado</div></td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="mt-0">
    <div class="budget_account-info-box secondary-info-wrapper">
        <div>
            DADOS SECUNDÁRIOS <span class="arrow-down"></span>
        </div>
    </div>
    <div class="budget_account-info-box">
        <table class="secondary-info">
            <tr>
                <td colspan="2" class="info-title">{{ budget_account_label }} em Investimento</td>
            </tr>
            <tr>
                <td>Dotação</td>
                <td class="money-display">{{formatCurrency budget_investment}}</td>
            </tr>
            <tr>
                <td>Execução</td>
                <td class="money-display">{{formatCurrency execution_investment}}</td>
            </tr>
            <tr>
                <td colspan="2" class="info-title">{{ budget_account_label }} em Funcionamento</td>
            </tr>
            <tr>
                <td>Dotação</td>
                <td class="money-display">{{formatCurrency budget_operation}}</td>
            </tr>
            <tr>
                <td>Execução</td>
                <td class="money-display">{{formatCurrency execution_operation}}</td>
            </tr>
        </table>
    </div>
</div>
</script>

<script id="template-budget_account-table" type="text/x-handlebars-template">
<table class="datatable-info" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>{{ group_label }} / {{ sub_group_label }}</th>
            <th class="vertical-separator"></th>
            <th>Dotação</th>
            <th>Execução</th>
            <th>%</th>
            <th>Dotação em investimento</th>
            <th>Execução em investimento</th>
            <th>Dotação em funcionamento</th>
            <th>Execução em funcionamento</th>
            <th></th>
        </tr>
        <tr>
            <td class="separator" colspan="10"></td>
        </tr>
    </thead>
    <tbody>
        {{#each budget_accounts}}
        <tr data-category_id="{{ id }}" class="parent-category">
            <td class="category-toggle">
                {{#if children}}
                <span class="material-icons arrow arrow-collapsed">keyboard_arrow_right</span>
                <span class="material-icons arrow arrow-expanded" style="display: none;">keyboard_arrow_down</span>
                {{ else }}
                <span class="material-icons arrow no-children">fiber_manual_record</span>
                {{/if}}
                <span class="category-name">{{ name }}</span>
            </td>
            <td class="vertical-separator"></td>
            <td>
                {{#if has_budget}}
                {{formatCurrency budget_aggregated}}
                {{else}}
                -
                {{/if}}
            </td>
            <td>{{formatCurrency execution_aggregated}}</td>
            <td>{{formatPercent execution_percentage}}</td>
            <td>{{formatCurrency budget_investment}}</td>
            <td>{{formatCurrency execution_investment}}</td>
            <td>{{formatCurrency budget_operation}}</td>
            <td>{{formatCurrency execution_operation}}</td>
            <td><span class="expand-visualization material-icons" title="Expandir para todas visualizações">open_in_full</span></td>
        </tr>
            {{#each children}}
            <tr class="child-category subcategory-of-{{ parent_id }}" data-parent_id="{{ parent_id }}" data-category_id="{{ id }}" style="display: none;">
                <td style="padding-left: 40px;">
                    <span class="category-name">{{ name }}</span>
                </td>
                <td class="vertical-separator"></td>
                <td>{{formatCurrency budget_aggregated}}</td>
                <td>{{formatCurrency execution_aggregated}}</td>
                <td>{{formatPercent execution_percentage}}</td>
                <td>{{formatCurrency budget_investment}}</td>
                <td>{{formatCurrency execution_investment}}</td>
                <td>{{formatCurrency budget_operation}}</td>
                <td>{{formatCurrency execution_operation}}</td>
                <td><span class="expand-visualization material-icons" title="Expandir para todas visualizações">open_in_full</span></td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>
</script>

<script id="template-breadcrumb" type="text/x-handlebars-template">
{{#each data}}
    <a href="#" class="breadcrumb-link" data-breadcrumb_idx="{{@index}}">{{ name }}</a>
    <span class="arrow-right"></span>
{{/each}}
</script>

<script id="template-treemap-tooltip" type="text/x-handlebars-template">
<div class="treemap-tooltip">
    <h5>{{ name }}</h5>
    <table>
        <tr>
            <td>Dotação</td>
            <td class="money-display">
                {{#if has_budget}}
                    {{formatCurrency budget_aggregated}}
                {{else}}
                    Não informada
                {{/if}}
            </td>
            <td></td>
        </tr>
        {{#if budget_investment}}
        <tr class="secondary-info">
            <td>em investimento</td>
            <td class="money-display">{{formatCurrency budget_investment}}</td>
            <td></td>
        </tr>
        {{/if}}
        {{#if budget_operation}}
        <tr class="secondary-info">
            <td>em funcionamento</td>
            <td class="money-display">{{formatCurrency budget_operation}}</td>
            <td></td>
        </tr>
        {{/if}}
        <tr>
            <td>Execução</td>
            {{#if execution_aggregated}}
            <td class="money-display">{{formatCurrency execution_aggregated}}</td>
            <td><span class="execution_percent">({{formatPercent execution_percentage}})</span></td>
            {{else}}
            <td class="no-value">Não informada</td>
            <td></td>
            {{/if}}
        </tr>
        {{#if execution_investment}}
        <tr class="secondary-info">
            <td>em investimento</td>
            <td class="money-display">{{formatCurrency execution_investment}}</td>
            <td></td>
        </tr>
        {{/if}}
        {{#if execution_operation}}
        <tr class="secondary-info">
            <td>em operação</td>
            <td class="money-display">{{formatCurrency execution_operation}}</td>
            <td></td>
        </tr>
        {{/if}}
    </table>
</div>
</script>
{% endverbatim %}

{% endblock %}