{% extends 'frontend/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/countriesExpenses.css' %}">

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="{% static 'js/countriesExpenses.js' %}"></script>

{% endblock extrahead %}

{% block content %}
<hr />
<div class="page-countries-expenses">
    <div class="historical-wrapper viz-wrapper">
        <div class="loading">Carregando dados<br><img src="{% static 'img/loading-front.gif' %}" /></div>
        <h4 class="historical-title">
            Dotação das principais despesas<br>funcionais em relação ao orçamento<br>
            <span class="year"></span>
        </h4>
        <div class="container">
            <div class="row">
                <div class="row breadcrumb-row" id="anchor-{{ visualization }}">
                    <div class="col-12 right budget-account-selector-row">
                        <div class="year-selector">
                            <a>2016
                            </a><a>2017
                            </a><a>2018
                            </a><a>2019
                            </a><a>2020
                            </a><a>2021</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/transparency-text.component.html' %}
</div>
{% endblock content %}