{% extends 'frontend/base.html' %}
{% load static %}
{% block extrahead %}
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
        #chartdiv {
          width: 100%;
          height: 500px;
        }
        [aria-labelledby=id-66-title]{
            display: none;
        }
    </style>
{% endblock extrahead %}

{% block content %}
    <div class="page-country-detail">
    {% with bg_name="bg_"|add:country.slug|add:".png" %}
    <div class="country-name-wrapper" style="background-image: url('{% static 'img/'|add:bg_name %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ country.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    <div class="flag-wrapper">
        <div class="row middle">
            <div class="col-2 mr-0">
                <img class="flag country" src="{{ country.flag.url }}" alt="{{ country.slug }} flag"  country_id="{{ country.id }}" cur="{{ country.currency }}"/>
            </div>
        </div>
    </div>
  <div class="container">
            <div class="row breadcrumb-row">
                <div class="col-12 right budget-account-selector-row">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
</div>
    <script src="{% static 'js/expensesRevenues.js' %}"></script>
{% endblock content %}



