{% extends 'frontend/base.html' %}
{% load static %}

{% block extrahead %}
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/pardal.css" %}">









{% endblock extrahead %}

{% block content %}
<div class="pardal">



<ul class="pardal__list">
    {% for country in countries %}
        <li class="pardal__list__item" onclick="GetExpenseAndRevenue({{ country.id }})">{{ country.name }}</li>
    {% endfor %}
</ul>



        <!-- HTML -->
    <div id="chartdiv"></div>
    amCharts

    <script src="{% static 'js/country-expenses-revenue.js' %}"></script>




    <h1> Hello  {{ country.name }} </h1>

    <img class="pardal__flag" src="{{ country.flag.url }}" alt="{{ country.slug }} flag" />


    <script>

    </script>

</div>



{% endblock %}