{% extends 'frontend/base.html' %}
{% load static %}

{% block extrahead %}
<script type="text/javascript">
var ranking_budgets = [];
var ranking_average = {};
function get_ranking(callback) {
    var url = '/api/budgets/ranking/';
    $.get(url, function (data) {
        ranking_budgets = data['budgets'];
        ranking_average = data['average'];
        callback(data);
    }).fail(function () {
        console.log("Error on fetching ranking data.");
    });
}
function plot_ranking(){
    var data = {'budgets': ranking_budgets, 'average': ranking_average};
    renderTemplate('#template-ranking', data, '.ranking-wrapper .budgets-wrapper');
}
function sort_ranking(dimension){
    ranking_budgets = sortByKey(ranking_budgets, dimension);
    $('.ranking-wrapper').find('.sortable').removeClass('active');
    $('.ranking-wrapper').find("[data-dimension='" + dimension + "']").addClass('active');
    plot_ranking();
}
$(document).ready(function(){
    $(document).on('click', '.ranking-wrapper .sortable', function(ev){
        var dimension = $(this).data('dimension');
        sort_ranking(dimension);
    });

    get_ranking(function(data){
        plot_ranking()
    })
});
</script>
{% endblock extrahead %}

{% block content %}
<div class="page-index">
    <div class="hero">
        <img src="{% static 'img/hero.png' %}" />
    </div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><span class="arrow"></span>Sobre o Projeto</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed
                    diam nonummy nibh euismod
                    tincidunt ut la metodologia
                    aliquam erat consequat. Duis vel
                    eum iriure dolor in hendrerit in
                    vulputate velit esse molestie
                    consequat, vel illum dolore eu
                    feugiat nulla facilisis at vero nulla
                    facilisi autem vel eum.
                </div>
                <div class="col-3">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed
                    diam nonummy nibh euismod
                    tincidunt ut la metodologia
                    aliquam erat consequat. Duis vel
                    eum iriure dolor in hendrerit in
                    vulputate velit esse molestie
                    consequat, vel illum dolore eu
                    feugiat nulla facilisis at vero nulla
                    facilisi autem vel eum.
                </div>
            </div>
        </div>
    </div>

    <div class="ranking">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ranking-header">
                        <h2><span class="arrow"></span>RANKING</h2>
                        <h4>Índice PALOP-TL de Transparência<br>da Despesa Orçamentária</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">Clique no cabeçalho da tabela para ordenar o ranking por uma dimensão específica.</div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ranking-wrapper">
                        <table class="ranking-table" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="f-position"></th>
                                    <th class="f-flag"></th>
                                    <th></th>
                                    <th class="f-dimension sortable" data-dimension="score_open_data">
                                        Dados Abertos<br>
                                        (0-100)
                                    </th>
                                    <th class="f-dimension sortable" data-dimension="score_reports">
                                        Relatórios Orçamentários<br>
                                        (0-100)
                                    </th>
                                    <th class="f-dimension sortable" data-dimension="score_data_quality">
                                        Qualidade da Informação<br>
                                        (0-200)
                                    </th>
                                    <th class="f-dimension sortable active" data-dimension="transparency_index">
                                        Indicador Geral de Transparência
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="budgets-wrapper"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="container countries-description">
            <div class="row">
                <div class="col-12">Escolha um país para entender como ele gasta seu orçamento.</div>
            </div>
        </div>
    </div>

    <div class="countries">
        <hr />
        <div class="flags-wrapper">
            <div class="row full-width">
                {% for country in countries %}
                <div class="col">
                    <img src="{{ country.flag.url }}" />
                    <a href="{% url 'country-details' country.slug %}" class="overlay"><span>{{ country.name }}</span></a>
                </div>
                    {% if forloop.counter == 3 %}
                        </div><div class="row full-width">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% verbatim %}
<script id="template-ranking" type="text/x-handlebars-template">
{{#each budgets}}
    <tr class="ranking-row row-number-{{inc @index}}">
        <td class="f-position">{{inc @index}}</td>
        <td class="f-flag"><img src="{{ country.flag }}" /></td>
        <td class="f-name">{{ country.name }}</td>
        <td class="f-dimension f-dimension-1">{{ score_open_data }}</td>
        <td class="f-dimension f-dimension-2">{{ score_reports }}</td>
        <td class="f-dimension f-dimension-3">{{ score_data_quality }}</td>
        <td class="f-dimension f-dimension-4">{{ transparency_index }}</td>
    </tr>
    <tr>
        <td colspan="7" class="separator-row"></td>
    </tr>
{{/each}}
<tr class="ranking-row row-number-7 row-avg">
    <td class="f-position"></td>
    <td class="f-flag" colspan="2">Média</td>
    <td class="f-dimension f-dimension-1">{{parseFloat average.score_open_data 2}}</td>
    <td class="f-dimension f-dimension-2">{{parseFloat average.score_reports 2}}</td>
    <td class="f-dimension f-dimension-3">{{parseFloat average.score_data_quality 2}}</td>
    <td class="f-dimension f-dimension-4">{{parseFloat average.transparency_index 2}}</td>
</tr>
</script>
{% endverbatim %}

{% endblock %}