{% extends 'frontend/base.html' %}
{% load static %}

{% block extrahead %}
<script type="text/javascript">
var ranking_budgets = [];
var ranking_average = {};
function get_ranking(callback) {
    var url = '/api/budgets/ranking/';
    $.get(url, function (data) {
        ranking_budgets = data['budgets'];
        ranking_average = data['average'];
        callback(data);
    }).fail(function () {
        console.log("Error on fetching ranking data.");
    });
}

function plot_ranking(){
    var data = {'budgets': ranking_budgets, 'average': ranking_average};
    renderTemplate('#template-ranking', data, '.ranking-wrapper .budgets-wrapper');
}

function sort_ranking(dimension){
    ranking_budgets = sortByKey(ranking_budgets, dimension);
    $('.ranking-wrapper').find('.sortable').removeClass('active');
    $('.ranking-wrapper').find("[data-dimension='" + dimension + "']").addClass('active');
    plot_ranking();
}

function scroll_to(href){
    $('html, body').animate({
        scrollTop: $(href).offset().top
    }, 1000);
}

function parallaxScroll() {
    var scrolled = $(window).scrollTop();
    $('#parallax-lvl-1').css('top', (0 - (scrolled * .7)) + 'px');
    $('#parallax-lvl-1').css('left', (0 - (scrolled * .2)) + 'px');
    $('#parallax-lvl-2').css('top', (0 - (scrolled * .65)) + 'px');
    //$('#parallax-lvl-2').css('left', (0 - (scrolled * .75)) + 'px');
    $('#parallax-lvl-3').css('top', (0 - (scrolled * .6)) + 'px');
    $('#parallax-lvl-3').css('left', (0 + (scrolled * .18)) + 'px');
    $('#parallax-lvl-4').css('top', (0 - (scrolled * .5)) + 'px');
    $('#parallax-lvl-4').css('left', (0 + (scrolled * .12)) + 'px');
    $('#parallax-lvl-5').css('top', (0 - (scrolled * .35)) + 'px');
    //$('#parallax-lvl-5').css('top', (0 - (scrolled * .4)) + 'px');
    $('#parallax-lvl-6').css('top', (0 - (scrolled * .28)) + 'px');
    $('#parallax-lvl-6').css('left', (0 - (scrolled * .12)) + 'px');
    $('.countries-bubbles .short-description').css('top', (0 - (scrolled * .5)) + 'px');
}

function ranking_help(step) {
    introJs().setOptions({
        nextLabel: 'Próxima dimensão',
        prevLabel: 'Dimensão anterior',
        doneLabel: 'Pronto',
        hidePrev: false,
        tooltipClass: 'customIntroRanking',
        showProgress: false,
        showBullets: true,
        steps: [{
            element: document.querySelector('.header-open_data'),
            title: 'Dados Abertos',
            position: 'bottom',
            intro: 'Dados considerados abertos são <strong>completos, primários</strong> (coletados na fonte e com o menor nível de ' +
                'granularidade possível), <strong>acessíveis</strong> (disponíveis online), <strong>não discriminatórios</strong> (qualquer pessoa pode ' +
                'acessar sem qualquer necessidade de identificação), <strong>atualizados</strong>, em <strong>formato processável</strong> por máquinas, ' +
                '<strong>não proprietários</strong> (como .csv por exemplo) e sob <strong>licença livre</strong> (não patenteada/ sem copyright). ' +
                'Veja a metodologia para entender mais sobre a lógica de pontuação nesta dimensão.'
        }, {
            element: document.querySelector('.header-score_reports'),
            title: 'Relatórios Orçamentais',
            position: 'bottom',
            intro: 'Avalia se os relatórios relativos ao ciclo de implementação do orçamento são <strong>elaborados ' +
                'e publicados no prazo</strong>. Os relatórios avaliados são <strong>Orçamento Promulgado, os Relatórios de ' +
                'Execução</strong> e o <strong>Relatório de Final de Ano</strong> (ou Contas Gerais do Estado). ' +
                'Veja a metodologia para entender mais sobre a lógica de pontuação nesta dimensão.'
        }, {
            element: document.querySelector('.header-data_quality'),
            title: 'Qualidade da Informação',
            position: 'bottom',
            intro: 'Acessa em que medida o cidadão pode acompanhar desde a <strong>previsão do orçamento ' +
                'para o ano até a arrecadação e gasto efetivo dos valores</strong>. Atualmente avalia a ' +
                'disponibilidade de três tipos de classificação: <strong>receita por natureza econômica</strong> ' +
                '(origem da entrada de recurso, como impostos ou transferências), <strong>despesa por ' +
                'classificação administrativa</strong> (por órgãos da administração) e <strong>funcional</strong> ' +
                '(por temas de ação pública, como saúde e educação).'
        }]
    }).goToStepNumber(step).start();
}

$(document).ready(function(){
    $(document).on('click', '.ranking-wrapper .sortable', function(ev){
        var dimension = $(this).data('dimension');
        sort_ranking(dimension);
    });

    get_ranking(function(data){
        plot_ranking()
    });

    $(window).bind('scroll',function(e){
        parallaxScroll();
    });
    $(document).on('click', '.scroll-to', function(ev){
        ev.preventDefault();
        scroll_to($(this).attr('href'));
    });
    $(document).on('click', '.ranking-table .help', function(ev){
        ev.preventDefault();
        ranking_help($(this).data('step'));
        ev.stopPropagation();
    });
});
</script>
{% endblock extrahead %}

{% block content %}
<div class="page-index">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="text">
                        Nossa missão é <strong>derrubar</strong><br>
                        todas as <strong>barreiras</strong> entre os<br>
                        <strong>cidadãos</strong> e as informações<br>
                        sobre <strong>finanças públicas</strong><br>
                        dos países _
                    </div>
                </div>
                <div class="col-4 countries-bubbles">
                    <div class="short-description">
                        Escolha um país para<br>
                        entender seu orçamento
                    </div>
                    {% for country in countries %}
                    <div id="parallax-lvl-{{ forloop.counter }}">
                        <a href="{% url 'country-details' country.slug %}" title="{{ country.name }}" id="country-{{ forloop.counter }}" class="bubble" style="background-image: url('{{ country.flag.url }}');">&nbsp;</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><span class="arrow"></span>Sobre o Projeto</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="paragraph">
                        Extraímos os dados de relatórios oficiais publicados em formatos fechados
                        e os tornamos estruturados e abertos: <strong>prontos para análise</strong> _
                    </div>
                    <div class="paragraph">
                        Para dar visibilidade e incentivar avanços na pauta, construímos o
                        <strong>primeiro Índice de Transparência Orçamental com recorte focado nos PALOP-TL</strong> _
                    </div>
                    <div class="paragraph">
                        <strong>Crescimento modular</strong>: Novas perspectivas da transparência orçamental serão
                        incorporadas na Plataforma e no Índice. As novas funcionalidades
                        serão definidas a partir de <strong>sessões de <i>Design Thinking</i> com representantes
                        da sociedade civíl</strong> _
                    </div>
                </div>
                <div class="col-4">
                    <div class="badget right">Base de dados abertas</div>
                    <div class="badget right">Visualizações interativas</div>
                    <div class="badget right">Filtros de Consulta</div>
                    <div class="badget right">Séries Históricas</div>
                    <div class="badget right">Índice de Transparência</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ranking">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ranking-header">
                        <h2><span class="arrow"></span>Índice PALOP-TL de Transparência Orçamental</h2>
                        <div class="short-description">
                            Resume a qualidade da transparência no fornecimento dos dados básicos da receita e despesa
                            que compõem esta plataforma.<br>
                            Veja mais detalhes na <a class="scroll-to" href="#methodology">Metodologia</a>,
                            disponível abaixo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    Clique no cabeçalho da tabela para ordenar o ranking por uma dimensão específica ou
                    no ícone <span class="material-icons help" data-step="1">info</span> para saber mais sobre a dimensão.</div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ranking-wrapper">
                        <table class="ranking-table" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="f-position"></th>
                                    <th class="f-flag"></th>
                                    <th></th>
                                    <th class="f-dimension sortable header-open_data" data-dimension="score_open_data" title="Clique para ordernar por esta dimensão">
                                        Dados<br/>
                                        Abertos<br/>
                                        <small>(0-100)</small>
                                        <span class="material-icons help" data-step="1" title="Saiba mais sobre esta dimensão">info</span>
                                    </th>
                                    <th class="f-dimension sortable header-score_reports" data-dimension="score_reports" title="Clique para ordernar por esta dimensão">
                                        Relatórios<br/>
                                        Orçamentais<br/>
                                        <small>(0-100)</small>
                                        <span class="material-icons help" data-step="2" title="Saiba mais sobre esta dimensão">info</span>
                                    </th>
                                    <th class="f-dimension sortable header-data_quality" data-dimension="score_data_quality" title="Clique para ordernar por esta dimensão">
                                        Qualidade da<br/>
                                        Informação<br/>
                                        <small>(0-100)</small>
                                        <span class="material-icons help" data-step="3" title="Saiba mais sobre esta dimensão">info</span>
                                    </th>
                                    <th class="f-dimension sortable active" data-dimension="transparency_index" title="Clique para ordernar pelo ÍNDICE GERAL">
                                        Índice de Transparência<br/>
                                        Orçamental<br/>
                                        <small>(0-100)</small>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="budgets-wrapper"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 id="methodology">VEJA MAIS DETALHES SOBRE A METODOLOGIA E RESULTADOS DETALHADOS</h4>
                        <ul class="links">
{#                            <li>#}
{#                                Fundamentação do trabalho e Discussão de Resultados do Índice 2020#}
{#                                <a href="#" target="_blank" class="download-link">Download</a>#}
{#                            </li>#}
                            <li>
                                Questionário e Metodologia de Pontuação do Índice de Transparência Orçamental PALOP-TL
                                <a href="{% static 'transparency_index_2020.pdf' %}" target="_blank" class="download-link">Download</a>
                            </li>
                            <li>
                                Resultados Detalhados do Índice PALOP-TL 2020
                                <a href="{% static 'transparency_index_results_2020.pdf' %}" target="_blank" class="download-link">Download</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="container countries-description">
            <div class="row">
                <div class="col-12">Escolha um país para entender como ele gasta seu orçamento.</div>
            </div>
        </div>
    </div>

    <div class="countries">
        <hr />
        <div class="flags-wrapper">
            <div class="row full-width">
                {% for country in countries %}
                <div class="col">
                    <img src="{{ country.flag.url }}" />
                    <a href="{% url 'country-details' country.slug %}" class="overlay"><span>{{ country.name }}</span></a>
                </div>
                    {% if forloop.counter == 3 %}
                        </div><div class="row full-width">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% verbatim %}
<script id="template-ranking" type="text/x-handlebars-template">
{{#each budgets}}
    <tr class="ranking-row row-number-{{inc @index}}">
        <td class="f-position">{{inc @index}}</td>
        <td class="f-flag"><img src="{{ country.flag }}" /></td>
        <td class="f-name">{{ country.name }}</td>
        <td class="f-dimension f-dimension-1">{{ score_open_data }}</td>
        <td class="f-dimension f-dimension-2">{{ score_reports }}</td>
        <td class="f-dimension f-dimension-3">{{ score_data_quality }}</td>
        <td class="f-dimension f-dimension-4">{{ transparency_index }}</td>
    </tr>
    <tr>
        <td colspan="7" class="separator-row"></td>
    </tr>
{{/each}}
<tr class="ranking-row row-number-7 row-avg">
    <td class="f-position"></td>
    <td class="f-flag" colspan="2">Média</td>
    <td class="f-dimension f-dimension-1">{{parseFloat average.score_open_data 2}}</td>
    <td class="f-dimension f-dimension-2">{{parseFloat average.score_reports 2}}</td>
    <td class="f-dimension f-dimension-3">{{parseFloat average.score_data_quality 2}}</td>
    <td class="f-dimension f-dimension-4">{{parseFloat average.transparency_index 2}}</td>
</tr>
</script>
{% endverbatim %}

{% endblock %}