{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<form action="{% url 'set_language' %}" class="language-selector-form" method="post" style="display:inline">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <input name="language" type="hidden" class="language-selector">
    <div class="language-selector">
    {% for language in languages %}<div class="lang"><a href="#" data-language_code="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %}active{% endif %}">{{ language.name_local }}</a></div>{% endfor %}
    </div>
</form>