{% load static %}
<div class="transparency-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><span class="arrow"></span>TRANSPARÊNCIA</h2>
                <div>
                    Nossa missão é ampliar a transparência dos PALOP-TL aplicando tecnologia e inovação para
                    derrubar barreiras e incluir mais cidadãos no debate público.
                    <br></br>
                    Acreditamos que cidadãos com acesso à informação têm mais condições de supervisionar seus
                    representantes e pressionar por políticas públicas de seu interesse.
                    {#                        Se você deseja colaborar conosco, entre em contato via: [ INSERIR EMAIL ]#}
                </div>
            </div>
            <div class="col-5 img-wrapper">
                <img src="{% static 'img/transparency.png' %}" alt="Transparency img"/>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>